# LOAN DETAILS DATA

### • Missing data analysis: How will you handle missing data?
### • Feature engineering: What variables do you need to predict interest rates? Ensure users would be able to give you that information to help you predict rates
### • You need to create one more pipeline to do this for the “Declined Loan data”. Repeat above steps
### NOTE: NO HUMAN INTERVERSION SHOULD BE NEEDED AT ALL. YOUR LUIGI/AIRFLOW script SHOULD DO EVERYTHING.
### Exploratory Data analysis: (15 points)
### • Write a Jupyter notebook using R/Python to graphically represent different summaries of data. Summarize your findings in this notebook.
### • Summarize your key insights about different user profiles, states, loan amounts etc.

### Imports

In [219]:
import pandas as pd
import numpy as np
import csv

### Reading each CSV in a separate dataframe

In [220]:
d1 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats3a.csv', header=1, skipfooter=4, engine='python')
d2 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats3b.csv', header=1, skipfooter=4, engine='python')
d3 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats3c.csv', header=1, skipfooter=4, engine='python')
d4 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats3d.csv', header=1, skipfooter=4, engine='python')
d5 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2016Q1.csv', header=1, skipfooter=4, engine='python')
d6 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2016Q2.csv', header=1, skipfooter=4, engine='python')
d7 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2016Q3.csv', header=1, skipfooter=4, engine='python')
d8 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2016Q4.csv', header=1, skipfooter=4, engine='python')
d9 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2017Q1.csv', header=1, skipfooter=4, engine='python')
d10 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2017Q2.csv', header=1, skipfooter=4, engine='python')
d11 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2017Q3.csv', header=1, skipfooter=4, engine='python')

### Concatenating all the CSVs in one dataframe

In [222]:
loan_data = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9, d10])

### Finding the missing data percentage and storing columns in features with mores than 70% data

In [223]:
missing_data = loan_data.isnull().sum().to_frame(name='Missing_Count').reset_index()
missing_data['Missing_percent'] = (missing_data['Missing_Count']/loan_data.shape[0])*100
missing_data.head()
missing_data = missing_data.sort_values(by='Missing_percent', axis=0, ascending=True)
features = missing_data['index'][(missing_data.Missing_percent <30)]
len(features)

87

### Considering only the relevant features

In [224]:
loan_df = loan_data[features]
len(loan_df.columns)

87

In [233]:
loan_df.shape

(1524078, 87)

In [15]:
loan_df.isnull().sum().sort_values(ascending = False)

mths_since_recent_inq         205440
num_tl_120dpd_2m              128983
mo_sin_old_il_acct            112783
emp_title                      93634
pct_tl_nvr_dlq                 70429
avg_cur_bal                    70290
mo_sin_rcnt_rev_tl_op          70277
mo_sin_old_rev_tl_op           70277
num_rev_accts                  70277
num_op_rev_tl                  70276
tot_hi_cred_lim                70276
mo_sin_rcnt_tl                 70276
num_accts_ever_120_pd          70276
num_tl_op_past_12m             70276
num_bc_tl                      70276
num_il_tl                      70276
num_tl_90g_dpd_24m             70276
num_rev_tl_bal_gt_0            70276
total_il_high_credit_limit     70276
num_tl_30dpd                   70276
num_actv_bc_tl                 70276
num_actv_rev_tl                70276
tot_coll_amt                   70276
tot_cur_bal                    70276
total_rev_hi_lim               70276
bc_util                        65539
percent_bc_gt_75               65157
bc_open_to_buy                 64731
mths_since_recent_bc           63809
num_sats                       58590
                               ...
total_rec_int                      0
last_pymnt_amnt                    0
collection_recovery_fee            0
recoveries                         0
total_pymnt                        0
addr_state                         0
total_rec_prncp                    0
total_pymnt_inv                    0
purpose                            0
out_prncp                          0
initial_list_status                0
revol_bal                          0
total_rec_late_fee                 0
int_rate                           0
out_prncp_inv                      0
funded_amnt_inv                    0
pymnt_plan                         0
term                               0
installment                        0
grade                              0
sub_grade                          0
debt_settlement_flag               0
emp_length                         0
home_ownership                     0
funded_amnt                        0
verification_status                0
loan_amnt                          0
issue_d                            0
loan_status                        0
hardship_flag                      0
dtype: int64

### Getting rid of a row with maximum missing data

In [234]:
loan_df = loan_df[loan_df.int_rate.notnull()]

In [235]:
loan_df.shape

(1524077, 87)

In [14]:
loan_df.head()

,hardship_flag,revol_bal,initial_list_status,out_prncp,total_pymnt,total_pymnt_inv,total_rec_prncp,addr_state,total_rec_int,recoveries,...,total_rev_hi_lim,num_rev_accts,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,avg_cur_bal,pct_tl_nvr_dlq,emp_title,mo_sin_old_il_acct,num_tl_120dpd_2m,mths_since_recent_inq
0,N,13648.0,f,0.0,5863.155187,5833.84,5000.00,AZ,863.16,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N,1687.0,f,0.0,1014.530000,1014.53,456.46,GA,435.17,122.9,...,NaN,NaN,NaN,NaN,NaN,NaN,Ryder,NaN,NaN,NaN
2,N,2956.0,f,0.0,3005.666844,3005.67,2400.00,IL,605.67,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N,5598.0,f,0.0,12231.890000,12231.89,10000.00,CA,2214.92,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,AIR RESOURCES BOARD,NaN,NaN,NaN
4,N,27783.0,f,0.0,4066.908161,4066.91,3000.00,OR,1066.91,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,University Medical Group,NaN,NaN,NaN

In [21]:
loan_df.grade.unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [23]:
loan_df[['grade','loan_amnt']].groupby('grade').mean()

          loan_amnt
grade
A      14078.427269
B      13520.480494
C      14664.571436
D      15672.516452
E      17918.678172
F      19132.253857
G      20226.904532

In [25]:
loan_df.mths_since_recent_inq.unique()

array([ nan,   8.,   3.,   4.,  17.,   0.,   6.,   2.,  14.,  12.,   7.,
        10.,  20.,  11.,  13.,   5.,   1.,   9.,  16.,  21.,  19.,  18.,
        15.,  22.,  23.,  24.,  25.])

In [32]:
len(loan_df.delinq_amnt.unique())

2345

In [36]:
loan_df.loan_status.unique()

array(['Fully Paid', 'Charged Off',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Current',
       'Late (16-30 days)', 'Late (31-120 days)', 'In Grace Period',
       'Default'], dtype=object)

In [37]:
loan_df.groupby('loan_status').size()

loan_status
Charged Off                                            154359
Current                                                721348
Default                                                   225
Does not meet the credit policy. Status:Charged Off       761
Does not meet the credit policy. Status:Fully Paid       1988
Fully Paid                                             600680
In Grace Period                                         13970
Late (16-30 days)                                        6320
Late (31-120 days)                                      24426
dtype: int64

In [127]:
loan_df.groupby('loan_status')['loan_amnt'].describe().to_frame()

                                                              loan_amnt
loan_status
Charged Off                                        count  154359.000000
                                                   mean    15370.944357
                                                   std      8590.909200
                                                   min       900.000000
                                                   25%      9000.000000
                                                   50%     14000.000000
                                                   75%     20000.000000
                                                   max     40000.000000
Current                                            count  721348.000000
                                                   mean    15146.864828
                                                   std      8956.482528
                                                   min      1000.000000
                                                   25%      8000.000000
                                                   50%     13500.000000
                                                   75%     20000.000000
                                                   max     40000.000000
Default                                            count     225.000000
                                                   mean    15277.444444
                                                   std      8782.097990
                                                   min      1200.000000
                                                   25%      9000.000000
                                                   50%     13200.000000
                                                   75%     21000.000000
                                                   max     35000.000000
Does not meet the credit policy. Status:Charged... count     761.000000
                                                   mean     9527.233903
                                                   std      6404.598723
                                                   min       500.000000
                                                   25%      5000.000000
                                                   50%      7750.000000
...                                                                 ...
Fully Paid                                         std      8424.441054
                                                   min       500.000000
                                                   25%      7500.000000
                                                   50%     12000.000000
                                                   75%     20000.000000
                                                   max     40000.000000
In Grace Period                                    count   13970.000000
                                                   mean    16392.235147
                                                   std      9027.043650
                                                   min      1000.000000
                                                   25%      9800.000000
                                                   50%     15000.000000
                                                   75%     22400.000000
                                                   max     40000.000000
Late (16-30 days)                                  count    6320.000000
                                                   mean    16395.984968
                                                   std      9135.730039
                                                   min      1000.000000
                                                   25%      9718.750000
                                                   50%     15000.000000
                                                   75%     22500.000000
                                                   max     40000.000000
Late (31-120 days)                                 count   24426.000000
                                                   mean    15924.964178
                                                   std      8917.675396
                                                   min      1000.000000
                                                   25%      9406.250000
                                                   50%     15000.000000
                                                   75%     21000.000000
                                                   max     40000.000000

[72 rows x 1 columns]

In [46]:
loan_df.purpose.unique()

array(['credit_card', 'car', 'small_business', 'other', 'wedding',
       'debt_consolidation', 'home_improvement', 'major_purchase',
       'medical', 'moving', 'vacation', 'house', 'renewable_energy',
       'educational'], dtype=object)

In [53]:
loan_df.groupby('purpose')['loan_amnt'].describe().to_frame()

                              loan_amnt
purpose
car                count   16129.000000
                   mean     9034.715419
                   std      6397.241343
                   min      1000.000000
                   25%      4800.000000
                   50%      7000.000000
                   75%     12000.000000
                   max     40000.000000
credit_card        count  340073.000000
                   mean    15238.014926
                   std      8499.844963
                   min       500.000000
                   25%      8875.000000
                   50%     13700.000000
                   75%     20000.000000
                   max     40000.000000
debt_consolidation count  886520.000000
                   mean    15557.472561
                   std      8597.739601
                   min       700.000000
                   25%      9000.000000
                   50%     14125.000000
                   75%     20000.000000
                   max     40000.000000
educational        count     423.000000
                   mean     6616.075650
                   std      5093.890248
                   min       500.000000
                   25%      3000.000000
                   50%      5000.000000
...                                 ...
renewable_energy   std      8289.721546
                   min      1000.000000
                   25%      4000.000000
                   50%      8000.000000
                   75%     14575.000000
                   max     40000.000000
small_business     count   17347.000000
                   mean    15579.407102
                   std      9566.194385
                   min       500.000000
                   25%      8000.000000
                   50%     14000.000000
                   75%     21600.000000
                   max     40000.000000
vacation           count    9948.000000
                   mean     6212.821673
                   std      5346.481400
                   min       500.000000
                   25%      2800.000000
                   50%      5000.000000
                   75%      8000.000000
                   max     40000.000000
wedding            count    2350.000000
                   mean    10479.095745
                   std      6754.309992
                   min      1000.000000
                   25%      5500.000000
                   50%      9000.000000
                   75%     14000.000000
                   max     35000.000000

[112 rows x 1 columns]

In [55]:
len(loan_df.columns)

87

In [64]:
loan_df.columns.tolist()

['hardship_flag',
 'revol_bal',
 'initial_list_status',
 'out_prncp',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'addr_state',
 'total_rec_int',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'policy_code',
 'application_type',
 'disbursement_method',
 'total_rec_late_fee',
 'purpose',
 'out_prncp_inv',
 'funded_amnt_inv',
 'pymnt_plan',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'debt_settlement_flag',
 'emp_length',
 'home_ownership',
 'funded_amnt',
 'verification_status',
 'loan_amnt',
 'issue_d',
 'loan_status',
 'zip_code',
 'annual_inc',
 'delinq_amnt',
 'acc_now_delinq',
 'total_acc',
 'open_acc',
 'pub_rec',
 'earliest_cr_line',
 'delinq_2yrs',
 'inq_last_6mths',
 'last_credit_pull_d',
 'tax_liens',
 'chargeoff_within_12_mths',
 'collections_12_mths_ex_med',
 'dti',
 'revol_util',
 'pub_rec_bankruptcies',
 'last_pymnt_d',
 'title',
 'mort_acc',
 'total_bc_limit',
 'acc_open_past_24mths',
 'total_bal_ex_mort',
 'num_sats',
 'num_bc_sats',
 'mths_since_recent_bc',
 'bc_open_to_buy',
 'percent_bc_gt_75',
 'bc_util',
 'tot_hi_cred_lim',
 'mo_sin_rcnt_tl',
 'num_accts_ever_120_pd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_tl_bal_gt_0',
 'total_il_high_credit_limit',
 'num_tl_30dpd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'tot_coll_amt',
 'tot_cur_bal',
 'total_rev_hi_lim',
 'num_rev_accts',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'avg_cur_bal',
 'pct_tl_nvr_dlq',
 'emp_title',
 'mo_sin_old_il_acct',
 'num_tl_120dpd_2m',
 'mths_since_recent_inq']

In [77]:
loan_df.shape

(1524077, 87)

In [67]:
loan_df.hardship_flag.unique()

array(['N', 'Y'], dtype=object)

In [76]:
len(loan_df[loan_df.hardship_flag=='N'])

1520626

In [78]:
len(loan_df[loan_df.hardship_flag=='Y'])

3451

In [85]:
#loan_data[loan_data.hardship_type=='INTEREST ONLY-3 MONTHS DEFERRAL']

In [89]:
loan_df.issue_d

0         Dec-2011
1         Dec-2011
2         Dec-2011
3         Dec-2011
4         Dec-2011
5         Dec-2011
6         Dec-2011
7         Dec-2011
8         Dec-2011
9         Dec-2011
10        Dec-2011
11        Dec-2011
12        Dec-2011
13        Dec-2011
14        Dec-2011
15        Dec-2011
16        Dec-2011
17        Dec-2011
18        Dec-2011
19        Dec-2011
20        Dec-2011
21        Dec-2011
22        Dec-2011
23        Dec-2011
24        Dec-2011
25        Dec-2011
26        Dec-2011
27        Dec-2011
28        Dec-2011
29        Dec-2011
            ...
105421    Apr-2017
105422    Apr-2017
105423    Apr-2017
105424    Apr-2017
105425    Apr-2017
105426    Apr-2017
105427    Apr-2017
105428    Apr-2017
105429    Apr-2017
105430    Apr-2017
105431    Apr-2017
105432    Apr-2017
105433    Apr-2017
105434    Apr-2017
105435    Apr-2017
105436    Apr-2017
105437    Apr-2017
105438    Apr-2017
105439    Apr-2017
105440    Apr-2017
105441    Apr-2017
105442    Apr-2017
105443    Apr-2017
105444    Apr-2017
105445    Apr-2017
105446    Apr-2017
105447    Apr-2017
105448    Apr-2017
105449    Apr-2017
105450    Apr-2017
Name: issue_d, dtype: object

In [193]:
Feature = 'loan_amnt','delinq_2yrs','fico_range_high','fico_range_low','delinq_amnt','grade','purpose','issue_d','application_type','dti','dti_joint','funded_amnt','it_util','int_rate','loan_status','pub_rec','pub_rec_bankruptcies','term','tol_coll_amnt','total_cur_bal','tot_hi_cred_lim','total_acc','total_bal_ex_mort','disbursement_method','debt_settlement_flag','installment'

In [189]:
loan_df.columns.tolist()

['hardship_flag',
 'revol_bal',
 'initial_list_status',
 'out_prncp',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'addr_state',
 'total_rec_int',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'policy_code',
 'application_type',
 'disbursement_method',
 'total_rec_late_fee',
 'purpose',
 'out_prncp_inv',
 'funded_amnt_inv',
 'pymnt_plan',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'debt_settlement_flag',
 'emp_length',
 'home_ownership',
 'funded_amnt',
 'verification_status',
 'loan_amnt',
 'issue_d',
 'loan_status',
 'zip_code',
 'annual_inc',
 'delinq_amnt',
 'acc_now_delinq',
 'total_acc',
 'open_acc',
 'pub_rec',
 'earliest_cr_line',
 'delinq_2yrs',
 'inq_last_6mths',
 'last_credit_pull_d',
 'tax_liens',
 'chargeoff_within_12_mths',
 'collections_12_mths_ex_med',
 'dti',
 'revol_util',
 'pub_rec_bankruptcies',
 'last_pymnt_d',
 'title',
 'mort_acc',
 'total_bc_limit',
 'acc_open_past_24mths',
 'total_bal_ex_mort',
 'num_sats',
 'num_bc_sats',
 'mths_since_recent_bc',
 'bc_open_to_buy',
 'percent_bc_gt_75',
 'bc_util',
 'tot_hi_cred_lim',
 'mo_sin_rcnt_tl',
 'num_accts_ever_120_pd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_tl_bal_gt_0',
 'total_il_high_credit_limit',
 'num_tl_30dpd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'tot_coll_amt',
 'tot_cur_bal',
 'total_rev_hi_lim',
 'num_rev_accts',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'avg_cur_bal',
 'pct_tl_nvr_dlq',
 'emp_title',
 'mo_sin_old_il_acct',
 'num_tl_120dpd_2m',
 'mths_since_recent_inq',
 'SCORE']

In [110]:
x = loan_df.issue_d.iloc[0]
x

'Dec-2011'

In [113]:
int(x.split('-')[1])

2011

In [130]:
loan_df['Year_issued'] = loan_df.apply(lambda x : x['issue_d'].split('-')[1])

AttributeError: 'Series' object has no attribute 'spilt'

In [124]:
loan_df.acc_now_delinq.isnull().sum()

29

In [125]:
loan_df.acc_now_delinq.unique()

array([  0.,   1.,  nan,   2.,   3.,   5.,   4.,   6.,  14.])

In [136]:
loan_df.application_type.unique()

array(['Individual', 'Joint App'], dtype=object)

In [145]:
loan_df.groupby('application_type')['loan_amnt'].size()

application_type
Individual    1503557
Joint App       20520
dtype: int64

In [155]:
loan_df.emp_title.unique()

array([nan, 'Ryder', 'AIR RESOURCES BOARD', ..., 'Granite Installer ',
       'EMR Applications Tech', 'Contact input'], dtype=object)

In [156]:
loan_df.emp_title.isnull().sum()

93634

In [157]:
loan_data.shape

(1524077, 145)

In [159]:
loan_df[pd.notnull]

,hardship_flag,revol_bal,initial_list_status,out_prncp,total_pymnt,total_pymnt_inv,total_rec_prncp,addr_state,total_rec_int,recoveries,...,total_rev_hi_lim,num_rev_accts,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,avg_cur_bal,pct_tl_nvr_dlq,emp_title,mo_sin_old_il_acct,num_tl_120dpd_2m,mths_since_recent_inq
0,N,13648.0,f,0.00,5863.155187,5833.84,5000.00,AZ,863.16,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N,1687.0,f,0.00,1014.530000,1014.53,456.46,GA,435.17,122.90,...,NaN,NaN,NaN,NaN,NaN,NaN,Ryder,NaN,NaN,NaN
2,N,2956.0,f,0.00,3005.666844,3005.67,2400.00,IL,605.67,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N,5598.0,f,0.00,12231.890000,12231.89,10000.00,CA,2214.92,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,AIR RESOURCES BOARD,NaN,NaN,NaN
4,N,27783.0,f,0.00,4066.908161,4066.91,3000.00,OR,1066.91,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,University Medical Group,NaN,NaN,NaN
5,N,7963.0,f,0.00,5632.210000,5632.21,5000.00,AZ,632.21,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Veolia Transportaton,NaN,NaN,NaN
6,N,17726.0,f,0.00,10137.840008,10137.84,7000.00,NC,3137.84,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Southern Star Photography,NaN,NaN,NaN
7,N,8221.0,f,0.00,3939.135294,3939.14,3000.00,CA,939.14,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,MKC Accounting,NaN,NaN,NaN
8,N,5210.0,f,0.00,647.500000,647.50,162.02,CA,294.94,190.54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,N,9279.0,f,0.00,1484.590000,1477.70,673.48,TX,533.42,277.69,...,NaN,NaN,NaN,NaN,NaN,NaN,Starbucks,NaN,NaN,NaN
10,N,4032.0,f,0.00,7678.017673,7678.02,6500.00,AZ,1178.02,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Southwest Rural metro,NaN,NaN,NaN
11,N,23336.0,f,0.00,13947.989155,13947.99,12000.00,CA,1947.99,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,UCLA,NaN,NaN,NaN
12,N,10452.0,f,0.00,2277.320000,2277.32,1256.14,VA,570.26,450.92,...,NaN,NaN,NaN,NaN,NaN,NaN,Va. Dept of Conservation/Recreation,NaN,NaN,NaN
13,N,7323.0,f,0.00,3480.269999,3480.27,3000.00,IL,480.27,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Target,NaN,NaN,NaN
14,N,11997.0,f,0.00,7471.990000,7471.99,5433.47,CA,1393.42,645.10,...,NaN,NaN,NaN,NaN,NaN,NaN,SFMTA,NaN,NaN,NaN
15,N,6524.0,f,0.00,1270.716942,1270.72,1000.00,MO,270.72,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Internal revenue Service,NaN,NaN,NaN
16,N,24043.0,f,0.00,12527.150000,12527.15,10000.00,CA,2527.15,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Chin's Restaurant,NaN,NaN,NaN
17,N,22836.0,f,0.00,3785.271965,3785.27,3600.00,CT,185.27,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Duracell,NaN,NaN,NaN
18,N,0.0,f,0.00,7167.072893,7167.07,6000.00,UT,1152.07,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Connection Inspection,NaN,NaN,NaN
19,N,7314.0,f,0.00,9460.000848,9460.00,9200.00,CA,260.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Network Interpreting Service,NaN,NaN,NaN
20,N,17813.0,f,0.00,27679.049997,25433.60,20250.00,TX,7429.05,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Archdiocese of Galveston Houston,NaN,NaN,NaN
21,N,32135.0,f,0.00,14034.600000,14034.60,10694.96,FL,3330.44,9.20,...,NaN,NaN,NaN,NaN,NaN,NaN,Osram Sylvania,NaN,NaN,NaN
22,N,10056.0,f,0.00,11907.350000,11907.35,10000.00,TX,1907.35,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Value Air,NaN,NaN,NaN
23,N,17800.0,f,0.00,11540.891977,11540.89,10000.00,CA,1540.89,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Wells Fargo Bank,NaN,NaN,NaN
24,N,5963.0,f,0.00,2055.850000,2055.85,1305.58,CA,475.25,275.02,...,NaN,NaN,NaN,NaN,NaN,NaN,bmg-educational,NaN,NaN,NaN
25,N,13707.0,f,0.00,15823.999049,15824.00,15000.00,IL,824.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Winfield Pathology Consultants,NaN,NaN,NaN
26,N,5872.0,f,0.00,0.000000,0.00,0.00,NY,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,nyc transit,NaN,NaN,NaN
27,N,4345.0,f,0.00,1611.160000,1611.16,629.05,PA,719.11,263.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Frito Lay,NaN,NaN,NaN
28,N,6110.0,f,0.00,4486.293519,4486.29,4000.00,FL,486.29,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Shands Hospital at the University of Fl,NaN,NaN,NaN
29,N,6441.0,f,0.00,10126.088441,10126.09,8500.00,MN,1626.09,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,Oakridge homes,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105421,N,6296.0,w,6524.91,1641.430000,1641.43,975.09,LA,666.34,0.00,...,10300.0,7.0,65.0,39.0,3386.0,90.0,Warehouse Receiver,14.0,0.0,1.0
105422,N,23859.0,w,0.00,2675.670000,2675.67,1705.70,CT,969.97,0.00,...,46600.0,22.0,133.0,9.0,2116.0,100.0,NaN,166.0,0.0,NaN
105423,N,18147.0,w,23338.84,3703.480000,3703.48,1661.16,MD,2042.32,0.00,...,21300.0,10.0,159.0,7.0,47199.0,78.9,Analyst,144.0,0.0,11.0
105424,N,15972.0,w,5209.24,1295.340000,1295.34,790.76,UT,504.58,0.00,...,16800.0,18.0,214.0,5.0,16673.0,90.9,Driver,35.0,0.0,5.0
105425,N,13544.0,w,12309.14,2293.510000,2293.51,690.86,CA,1602.65,0.00,...,19200.0,9.0,147.0,4.0,4237.0,58.8,laborer,117.0,0.0,5.0
105426,N,9870.0,w,12154.93,3022.430000,3022.43,1845.07,CA,1177.36,0.00,...,21500.0,8.0,200.0,3.0,3633.0,100.0,Manager,67.0,0.0,0.0
105427,N,23099.0,w,0.00,27664.954786,27664.95,25275.00,NY,2389.95,0.00,...,32100.0,14.0,269.0,4.0,32019.0,100.0,Technician,144.0,0.0,3.0
105428,N,60012.0,w,24077.01,3510.380000,3510.38,1922.99,VA,1587.39,0.00,...,99000.0,20.0,261.0,6.0,21802.0,87.1,System Engineer,176.0,0.0,3.0
105429,N,39174.0,w,14003.29,2222.100000,2222.10,996.71,TX,1225.39,0.00,...,59100.0,18.0,98.0,4.0,8750.0,95.1,Solution Architect,289.0,0.0,2.0
105430,N,17927.0,w,12741.66,2166.540000,2166.54,858.34,WI,1308.20,0.00,...,38200.0,12.0,141.0,6.0,2672.0,100.0,Pharmacy Technician,150.0,0.0,6.0
105431,N,38176.0,f,23098.59,3982.840000,3982.84,1401.41,LA,2581.43,0.00,...,58000.0,28.0,271.0,4.0,17188.0,100.0,Engineer Tech 7,178.0,NaN,0.0
105432,N,7861.0,f,26139.44,4147.950000,4147.95,1860.56,CA,2287.39,0.00,...,20200.0,12.0,41.0,10.0,1979.0,100.0,Granite Installer,156.0,0.0,8.0
105433,N,18542.0,f,17779.95,2592.270000,2592.27,1420.05,CT,1172.22,0.00,...,22200.0,11.0,154.0,1.0,13545.0,84.6,Finance Director,152.0,0.0,9.0
105434,N,8020.0,w,3121.94,689.270000,689.27,553.06,NY,136.21,0.00,...,14000.0,5.0,53.0,4.0,2629.0,100.0,GROUP LEADER,109.0,NaN,4.0
105435,N,27709.0,w,27781.17,4050.430000,4050.43,2218.83,OH,1831.60,0.00,...,45300.0,17.0,196.0,8.0,3604.0,100.0,Sr. Loan Processor,137.0,0.0,NaN
105436,N,49062.0,f,28284.05,5009.540000,5009.54,1715.95,AZ,3293.59,0.00,...,68100.0,12.0,166.0,9.0,7604.0,96.2,Director of Marketing,155.0,0.0,10.0
105437,N,12166.0,f,16970.39,3005.760000,3005.76,1029.61,NJ,1976.15,0.00,...,51200.0,18.0,116.0,3.0,1891.0,100.0,Administrative,97.0,0.0,8.0
105438,N,15702.0,f,29297.52,5189.080000,5189.08,1777.48,WA,3411.60,0.00,...,16700.0,4.0,57.0,15.0,5574.0,40.0,EMR Applications Tech,179.0,0.0,21.0
105439,N,5608.0,w,0.00,1014.918899,1014.92,1000.00,IN,14.92,0.00,...,11800.0,14.0,151.0,3.0,1122.0,92.3,Inspector,133.0,0.0,4.0
105440,N,41068.0,w,27781.17,4050.430000,4050.43,2218.83,TX,1831.60,0.00,...,61776.0,23.0,179.0,5.0,26937.0,100.0,Instructor,155.0,0.0,16.0
105441,N,12264.0,f,27292.29,4080.790000,4080.79,2107.71,FL,1973.08,0.00,...,26600.0,12.0,124.0,14.0,2331.0,95.2,Sales Manager,191.0,0.0,1.0
105442,N,31233.0,f,33140.12,6472.110000,6472.11,1859.88,MD,4612.23,0.00,...,53706.0,23.0,161.0,5.0,63816.0,98.0,Branch Manager,140.0,NaN,5.0
105443,N,3162.0,f,32490.85,4858.060000,4858.06,2509.15,IL,2348.91,0.00,...,22200.0,24.0,250.0,20.0,28408.0,100.0,Industrial Engineer,183.0,0.0,2.0
105444,N,16478.0,w,11415.53,2252.770000,2252.77,584.47,CA,1668.30,0.00,...,32100.0,31.0,129.0,2.0,11056.0,92.9,foreman,136.0,0.0,0.0
105445,N,23058.0,f,18103.17,3346.240000,3346.24,1096.83,CA,2249.41,0.00,...,30000.0,14.0,137.0,1.0,4113.0,100.0,NaN,112.0,0.0,9.0
105446,N,9688.0,f,22672.17,4298.330000,4298.33,1327.83,CO,2970.50,0.00,...,38900.0,18.0,263.0,6.0,5528.0,87.5,Senior Escrow Officer,90.0,0.0,4.0
105447,N,9751.0,w,8494.72,1875.480000,1875.48,1505.28,PA,370.20,0.00,...,62100.0,23.0,282.0,1.0,3724.0,92.6,Rn,154.0,0.0,17.0
105448,N,14300.0,w,8707.45,2140.070000,2140.07,1342.55,VA,797.52,0.00,...,30400.0,18.0,286.0,2.0,1021.0,95.2,Sales Associate,129.0,0.0,2.0
105449,N,1356.0,w,5136.71,1191.870000,1191.87,863.29,NY,328.58,0.00,...,13400.0,9.0,322.0,32.0,3275.0,94.4,Contact input,209.0,0.0,10.0
105450,N,15252.0,w,0.00,1236.630000,1236.63,251.93,TX,940.24,0.00,...,21000.0,9.0,232.0,31.0,19955.0,91.3,Assistant Manager,186.0,0.0,10.0

In [160]:
loan_df.shape

(1524077, 87)

In [169]:
loan_data.groupby('hardship_reason')['loan_amnt'].count()

hardship_reason
DISABILITY                 58
DIVORCE                    88
EXCESSIVE_OBLIGATIONS     613
FAMILY_DEATH               68
INCOME_CURTAILMENT        370
MEDICAL                   389
NATURAL_DISASTER         2502
REDUCED_HOURS             212
UNEMPLOYMENT              582
Name: loan_amnt, dtype: int64

In [173]:
loan_df.int_rate.describe().T

count     1524077
unique        617
top        10.99%
freq        44168
Name: int_rate, dtype: object

In [174]:
loan_df[['loan_amnt','funded_amnt']]

        loan_amnt  funded_amnt
0          5000.0       5000.0
1          2500.0       2500.0
2          2400.0       2400.0
3         10000.0      10000.0
4          3000.0       3000.0
5          5000.0       5000.0
6          7000.0       7000.0
7          3000.0       3000.0
8          5600.0       5600.0
9          5375.0       5375.0
10         6500.0       6500.0
11        12000.0      12000.0
12         9000.0       9000.0
13         3000.0       3000.0
14        10000.0      10000.0
15         1000.0       1000.0
16        10000.0      10000.0
17         3600.0       3600.0
18         6000.0       6000.0
19         9200.0       9200.0
20        20250.0      20250.0
21        21000.0      21000.0
22        10000.0      10000.0
23        10000.0      10000.0
24         6000.0       6000.0
25        15000.0      15000.0
26        15000.0      15000.0
27         5000.0       5000.0
28         4000.0       4000.0
29         8500.0       8500.0
...           ...          ...
105421     7500.0       7500.0
105422    19150.0      19150.0
105423    25000.0      25000.0
105424     6000.0       6000.0
105425    13000.0      13000.0
105426    14000.0      14000.0
105427    25275.0      25275.0
105428    26000.0      26000.0
105429    15000.0      15000.0
105430    13600.0      13600.0
105431    24500.0      24500.0
105432    28000.0      28000.0
105433    19200.0      19200.0
105434     3675.0       3675.0
105435    30000.0      30000.0
105436    30000.0      30000.0
105437    18000.0      18000.0
105438    31075.0      31075.0
105439     1000.0       1000.0
105440    30000.0      30000.0
105441    29400.0      29400.0
105442    35000.0      35000.0
105443    35000.0      35000.0
105444    12000.0      12000.0
105445    19200.0      19200.0
105446    24000.0      24000.0
105447    10000.0      10000.0
105448    10050.0      10050.0
105449     6000.0       6000.0
105450    30000.0      30000.0

[1524077 rows x 2 columns]

In [176]:
loan_df['SCORE'] = np.where(loan_df['loan_amnt']==loan_df['funded_amnt'], 'Same', 'Diff')

In [184]:
loan_df.groupby('SCORE')['loan_amnt'].size()

SCORE
Diff       2065
Same    1522012
dtype: int64

In [186]:
loan_df[loan_df['SCORE']=='Diff']

,hardship_flag,revol_bal,initial_list_status,out_prncp,total_pymnt,total_pymnt_inv,total_rec_prncp,addr_state,total_rec_int,recoveries,...,num_rev_accts,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,avg_cur_bal,pct_tl_nvr_dlq,emp_title,mo_sin_old_il_acct,num_tl_120dpd_2m,mths_since_recent_inq,SCORE
61,N,10724.0,f,0.00,13227.100007,13190.15,8950.00,CA,4277.10,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diff
66,N,9844.0,f,0.00,5577.750000,5577.75,2812.82,MN,2742.43,22.50,...,NaN,NaN,NaN,NaN,NaN,grandma kitchen,NaN,NaN,NaN,Diff
70,N,20657.0,f,0.00,18112.460866,18079.10,13575.00,GA,4537.46,0.00,...,NaN,NaN,NaN,NaN,NaN,Dollar Tree Stores,NaN,NaN,NaN,Diff
77,N,21706.0,f,0.00,8204.774089,8176.29,7200.00,CA,1004.77,0.00,...,NaN,NaN,NaN,NaN,NaN,Cross Country Travel Corp,NaN,NaN,NaN,Diff
80,N,7334.0,f,0.00,28887.100068,28854.39,22075.00,NY,6812.10,0.00,...,NaN,NaN,NaN,NaN,NaN,tutor Per ini Corporation,NaN,NaN,NaN,Diff
96,N,16447.0,f,0.00,15169.305466,15139.68,12800.00,VA,2369.31,0.00,...,NaN,NaN,NaN,NaN,NaN,NCS Technologies,NaN,NaN,NaN,Diff
124,N,29178.0,f,0.00,12181.320000,12155.52,4281.54,TX,4759.37,3140.41,...,NaN,NaN,NaN,NaN,NaN,American Airlines,NaN,NaN,NaN,Diff
217,N,25435.0,f,0.00,17607.960033,17160.30,11800.00,NJ,5807.96,0.00,...,NaN,NaN,NaN,NaN,NaN,New Jersey Institute Of Technology (NJIT,NaN,NaN,NaN,Diff
223,N,31992.0,f,0.00,22206.821325,22176.15,18100.00,AZ,4106.82,0.00,...,NaN,NaN,NaN,NaN,NaN,"MAll SPE, LLC",NaN,NaN,NaN,Diff
249,N,7411.0,f,0.00,10202.580592,10202.58,8975.00,TX,1227.58,0.00,...,NaN,NaN,NaN,NaN,NaN,"Cardinal Health Stafford, Texas.",NaN,NaN,NaN,Diff
268,N,31071.0,f,0.00,28062.238743,28036.09,26825.00,IL,1237.24,0.00,...,NaN,NaN,NaN,NaN,NaN,"Navistar, Inc.",NaN,NaN,NaN,Diff
306,N,31306.0,f,0.00,36105.419963,36027.77,23250.00,NJ,12855.42,0.00,...,NaN,NaN,NaN,NaN,NaN,Prospect Transportation Inc.,NaN,NaN,NaN,Diff
333,N,16008.0,f,0.00,17437.817440,16732.59,13475.00,TX,3962.82,0.00,...,NaN,NaN,NaN,NaN,NaN,The Woodlands Financial Group,NaN,NaN,NaN,Diff
336,N,3761.0,f,0.00,26016.922422,23136.20,23150.00,MD,2866.92,0.00,...,NaN,NaN,NaN,NaN,NaN,Fed Govt-Environmental Protection Agency,NaN,NaN,NaN,Diff
347,N,13771.0,f,0.00,17833.529974,17210.57,11625.00,NC,6208.53,0.00,...,NaN,NaN,NaN,NaN,NaN,US Army,NaN,NaN,NaN,Diff
352,N,18723.0,f,0.00,19867.563117,18057.89,16975.00,MO,2892.56,0.00,...,NaN,NaN,NaN,NaN,NaN,US Army Corps of Engineers,NaN,NaN,NaN,Diff
357,N,46957.0,f,0.00,18898.546432,18315.43,15050.00,VA,3848.55,0.00,...,NaN,NaN,NaN,NaN,NaN,State of NC ITS,NaN,NaN,NaN,Diff
387,N,15523.0,f,0.00,34446.382011,31720.35,27575.00,TX,6871.38,0.00,...,NaN,NaN,NaN,NaN,NaN,United States Air Force,NaN,NaN,NaN,Diff
403,N,36497.0,f,0.00,31832.189966,28566.83,19825.00,CT,12007.19,0.00,...,NaN,NaN,NaN,NaN,NaN,BETHEL PUBLIC SCHOOLS,NaN,NaN,NaN,Diff
414,N,21513.0,f,0.00,3615.930000,2546.74,1819.26,CA,1773.35,3.41,...,NaN,NaN,NaN,NaN,NaN,Macy's,NaN,NaN,NaN,Diff
417,N,93718.0,f,0.00,22337.513617,20134.58,16475.00,PA,5862.51,0.00,...,NaN,NaN,NaN,NaN,NaN,Lockheed Martin,NaN,NaN,NaN,Diff
430,N,50670.0,f,0.00,19893.950000,16765.31,13371.26,NY,6512.03,10.66,...,NaN,NaN,NaN,NaN,NaN,Travelers insurance,NaN,NaN,NaN,Diff
448,N,5595.0,f,0.00,11224.593912,10587.56,8475.00,CA,2749.59,0.00,...,NaN,NaN,NaN,NaN,NaN,SALTER LABS,NaN,NaN,NaN,Diff
472,N,17404.0,f,0.00,14879.723006,14852.07,13450.00,GA,1429.72,0.00,...,NaN,NaN,NaN,NaN,NaN,applied IndustrialTechnoliges,NaN,NaN,NaN,Diff
474,N,6149.0,f,0.00,16367.249009,16367.25,13250.00,CA,3117.25,0.00,...,NaN,NaN,NaN,NaN,NaN,Cisco System Inc.,NaN,NaN,NaN,Diff
479,N,22388.0,f,0.00,19647.968596,19620.60,17950.00,CA,1697.97,0.00,...,NaN,NaN,NaN,NaN,NaN,Chase Bank,NaN,NaN,NaN,Diff
491,N,29665.0,f,0.00,19738.824900,19702.81,13700.00,CA,6038.82,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diff
492,N,25856.0,f,0.00,28011.879962,27976.78,19950.00,MD,8061.88,0.00,...,NaN,NaN,NaN,NaN,NaN,The Community College of Baltimore Count,NaN,NaN,NaN,Diff
496,N,18515.0,f,0.00,3099.400000,3096.09,1169.59,FL,1923.91,5.90,...,NaN,NaN,NaN,NaN,NaN,The Crexent Business Centers,NaN,NaN,NaN,Diff
499,N,8.0,f,0.00,18898.144529,18898.14,15775.00,HI,3123.14,0.00,...,NaN,NaN,NaN,NaN,NaN,CNMI Government,NaN,NaN,NaN,Diff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170281,N,13910.0,f,0.00,19417.041951,19417.04,11850.00,MO,7567.04,0.00,...,NaN,NaN,NaN,NaN,NaN,Hannibal Regional Hospital,NaN,NaN,0.0,Diff
170318,N,12407.0,f,0.00,29193.405713,29193.41,21825.00,PA,7368.41,0.00,...,NaN,NaN,NaN,NaN,NaN,"FD Software Enterprises, LLC",NaN,NaN,17.0,Diff
170340,N,13276.0,f,0.00,5177.790000,5177.79,1764.20,KS,3398.83,14.76,...,NaN,NaN,NaN,NaN,NaN,FedEx Freight,NaN,NaN,2.0,Diff
187901,N,9174.0,f,0.00,9917.740000,7646.46,2351.38,NH,3003.60,4562.76,...,NaN,NaN,NaN,NaN,NaN,portsmouth naval shipyard,NaN,NaN,NaN,Diff
187914,N,16883.0,f,0.00,17928.650016,14058.66,13475.00,AZ,4453.65,0.00,...,NaN,NaN,NaN,NaN,NaN,University of Arizona Medical Center,NaN,NaN,NaN,Diff
187915,N,5165.0,f,0.00,2633.510000,2615.66,1608.46,CT,1005.47,19.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diff
187941,N,15196.0,f,0.00,4158.720000,4158.72,2413.91,GA,1729.33,15.48,...,NaN,NaN,NaN,NaN,NaN,University of Georgia,NaN,NaN,NaN,Diff
187946,N,15551.0,f,0.00,10056.540000,10038.81,4325.08,VA,5731.46,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diff
187959,N,25432.0,f,0.00,27931.330028,27866.75,21625.00,PA,6306.33,0.00,...,NaN,NaN,NaN,NaN,NaN,PMG Pennsylvania Corp,NaN,NaN,NaN,Diff
187964,N,28369.0,f,0.00,20076.780021,20043.26,14975.00,GA,5101.78,0.00,...,NaN,NaN,NaN,NaN,NaN,General Electric,NaN,NaN,NaN,Diff
187976,N,33377.0,f,0.00,17478.270000,17458.71,7755.36,VA,7682.91,2040.00,...,NaN,NaN,NaN,NaN,NaN,AT&T,NaN,NaN,NaN,Diff
187991,N,23040.0,f,0.00,24134.389800,24098.58,16850.00,TX,7284.39,0.00,...,NaN,NaN,NaN,NaN,NaN,AT&T,NaN,NaN,NaN,Diff
188058,N,13159.0,f,0.00,9926.910000,9896.20,5987.93,CA,3902.48,36.50,...,NaN,NaN,NaN,NaN,NaN,US Marine Corps,NaN,NaN,NaN,Diff
188063,N,18998.0,f,0.00,20535.630030,20501.52,15050.00,CA,5485.63,0.00,...,NaN,NaN,NaN,NaN,NaN,DeucesCracked,NaN,NaN,NaN,Diff
188065,N,6107.0,f,0.00,5174.640000,5174.64,2587.70,CA,2586.27,0.67,...,NaN,NaN,NaN,NaN,NaN,MulvannyG2 Architecture,NaN,NaN,NaN,Diff
188097,N,24776.0,f,0.00,4025.900000,3376.73,1573.09,WA,2436.94,15.87,...,NaN,NaN,NaN,NaN,NaN,land-o-lakes purina feed,NaN,NaN,NaN,Diff
188114,N,9663.0,f,0.00,14404.000000,14268.84,8756.65,MN,5603.73,43.62,...,NaN,NaN,NaN,NaN,NaN,"3m Hutchinson, MN",NaN,NaN,NaN,Diff
188119,N,8707.0,f,0.00,6496.600004,6459.69,4400.00,MD,2096.60,0.00,...,NaN,NaN,NaN,NaN,NaN,Calibre CPA Group,NaN,NaN,NaN,Diff
188121,N,17530.0,f,0.00,10324.619525,10010.54,6575.00,NC,3749.62,0.00,...,NaN,NaN,NaN,NaN,NaN,Stein5 LLC,NaN,NaN,NaN,Diff
188129,N,53282.0,f,0.00,24034.332609,24006.90,21900.00,NC,2134.33,0.00,...,NaN,NaN,NaN,NaN,NaN,AT&T,NaN,NaN,NaN,Diff
188148,N,14523.0,f,0.00,12946.769252,12873.62,8850.00,TX,4096.77,0.00,...,NaN,NaN,NaN,NaN,NaN,"Linebarger Goggan Blair & Sampson, LLP",NaN,NaN,NaN,Diff
188167,N,1455.0,f,0.00,25723.728761,21685.81,21775.00,NY,3948.73,0.00,...,NaN,NaN,NaN,NaN,NaN,TalentBurst for M&T,NaN,NaN,NaN,Diff
188168,N,19886.0,f,0.00,14786.731118,7217.66,13675.00,CA,1111.73,0.00,...,NaN,NaN,NaN,NaN,NaN,Domino's Pizza,NaN,NaN,NaN,Diff
188170,N,23722.0,f,0.00,4711.000000,4703.99,1662.30,WA,3042.60,6.10,...,NaN,NaN,NaN,NaN,NaN,Microsoft,NaN,NaN,NaN,Diff
188171,N,34083.0,f,0.00,22724.800000,22724.80,14480.92,AL,8232.35,11.53,...,NaN,NaN,NaN,NaN,NaN,Nucor Steel,NaN,NaN,NaN,Diff
188174,N,18539.0,f,0.00,17801.931680,17801.93,12675.00,WI,5126.93,0.00,...,NaN,NaN,NaN,NaN,NaN,RR DONNELLEY,NaN,NaN,NaN,Diff
188180,N,7008.0,f,0.00,11163.948255,11163.95,7775.00,VA,3388.95,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diff
32401,N,15537.0,w,5522.60,5833.180000,5833.18,4477.40,WA,1355.78,0.00,...,9.0,90.0,4.0,3184.0,100.0,Manager,74.0,0.0,4.0,Diff
32461,N,16751.0,w,5826.98,4964.850000,4964.85,4173.02,NY,791.83,0.00,...,28.0,237.0,10.0,6652.0,97.3,manager,112.0,0.0,12.0,Diff
32676,N,15590.0,w,7863.84,3510.110000,3510.11,2136.16,KS,1373.95,0.00,...,7.0,127.0,11.0,9046.0,100.0,Fuel Manager,188.0,NaN,14.0,Diff

In [199]:
loan_df.addr_state.unique()

array(['AZ', 'GA', 'IL', 'CA', 'OR', 'NC', 'TX', 'VA', 'MO', 'CT', 'UT',
       'FL', 'NY', 'PA', 'MN', 'NJ', 'KY', 'OH', 'SC', 'RI', 'LA', 'MA',
       'WA', 'WI', 'AL', 'CO', 'KS', 'NV', 'AK', 'MD', 'WV', 'VT', 'MI',
       'DC', 'SD', 'NH', 'AR', 'NM', 'MT', 'HI', 'WY', 'OK', 'DE', 'MS',
       'TN', 'IA', 'NE', 'ID', 'IN', 'ME', 'ND'], dtype=object)

In [200]:
loan_df[loan_df.addr_state=='WV']

,hardship_flag,revol_bal,initial_list_status,out_prncp,total_pymnt,total_pymnt_inv,total_rec_prncp,addr_state,total_rec_int,recoveries,...,num_rev_accts,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,avg_cur_bal,pct_tl_nvr_dlq,emp_title,mo_sin_old_il_acct,num_tl_120dpd_2m,mths_since_recent_inq,SCORE
139,N,2982.0,f,0.00,6793.182850,6793.18,6200.00,WV,593.18,0.00,...,NaN,NaN,NaN,NaN,NaN,WV State Tax Department,NaN,NaN,NaN,Same
278,N,15846.0,f,0.00,6132.980000,6132.98,5053.24,WV,1077.08,2.66,...,NaN,NaN,NaN,NaN,NaN,interim health care,NaN,NaN,NaN,Same
286,N,22195.0,f,0.00,6013.039997,6013.04,4800.00,WV,1213.04,0.00,...,NaN,NaN,NaN,NaN,NaN,TubeCityIMS,NaN,NaN,NaN,Same
841,N,6739.0,f,0.00,7035.820001,7035.82,6000.00,WV,1035.82,0.00,...,NaN,NaN,NaN,NaN,NaN,Camden Clark Medical Center,NaN,NaN,NaN,Same
899,N,7467.0,f,0.00,8335.090001,8335.09,7000.00,WV,1335.09,0.00,...,NaN,NaN,NaN,NaN,NaN,Abunmdant Life Christian Center,NaN,NaN,NaN,Same
1156,N,10083.0,f,0.00,18433.962270,18426.49,17000.00,WV,1433.96,0.00,...,NaN,NaN,NaN,NaN,NaN,ECPI University,NaN,NaN,NaN,Same
1590,N,0.0,f,0.00,7999.141468,7999.14,6500.00,WV,1499.14,0.00,...,NaN,NaN,NaN,NaN,NaN,PCM Studios,NaN,NaN,NaN,Same
1738,N,16205.0,f,0.00,14764.211697,14764.21,11100.00,WV,3664.21,0.00,...,NaN,NaN,NaN,NaN,NaN,Jefferson Security Bank,NaN,NaN,NaN,Same
2043,N,4036.0,f,0.00,6088.154814,6088.15,6000.00,WV,88.15,0.00,...,NaN,NaN,NaN,NaN,NaN,canonsburg Hospital,NaN,NaN,NaN,Same
2804,N,42865.0,f,0.00,37464.342253,37431.34,35000.00,WV,2464.34,0.00,...,NaN,NaN,NaN,NaN,NaN,manroy usa dba manroy defense systems,NaN,NaN,NaN,Same
2896,N,1124.0,f,0.00,2033.207281,2033.21,1600.00,WV,433.21,0.00,...,NaN,NaN,NaN,NaN,NaN,LSI,NaN,NaN,NaN,Same
2916,N,7158.0,f,0.00,26517.679625,26086.77,20000.00,WV,6517.68,0.00,...,NaN,NaN,NaN,NaN,NaN,Trex Inc.,NaN,NaN,NaN,Same
3563,N,10630.0,f,0.00,12973.055445,12973.06,11500.00,WV,1473.06,0.00,...,NaN,NaN,NaN,NaN,NaN,"KRK Holdings, Inc",NaN,NaN,NaN,Same
3731,N,28111.0,f,0.00,4071.840000,4044.26,2160.87,WV,1901.61,9.36,...,NaN,NaN,NaN,NaN,NaN,WVU Foundation,NaN,NaN,NaN,Same
4047,N,36174.0,f,0.00,35846.708069,35846.71,30000.00,WV,5846.71,0.00,...,NaN,NaN,NaN,NaN,NaN,United Hospital Center,NaN,NaN,NaN,Same
4095,N,4327.0,f,0.00,6871.039998,6871.04,4800.00,WV,2071.04,0.00,...,NaN,NaN,NaN,NaN,NaN,Arc of the three rivers,NaN,NaN,NaN,Same
4149,N,9124.0,f,0.00,5316.265958,5046.40,4925.00,WV,391.27,0.00,...,NaN,NaN,NaN,NaN,NaN,orgill inc.,NaN,NaN,NaN,Same
4430,N,22486.0,f,0.00,18528.975198,18127.51,15000.00,WV,3528.98,0.00,...,NaN,NaN,NaN,NaN,NaN,sysco foods,NaN,NaN,NaN,Same
4454,N,7747.0,f,0.00,21088.732955,21030.15,18000.00,WV,3088.73,0.00,...,NaN,NaN,NaN,NaN,NaN,MARFORK COAL COMPANY,NaN,NaN,NaN,Same
5190,N,1159.0,f,0.00,17683.449063,17683.45,17000.00,WV,683.45,0.00,...,NaN,NaN,NaN,NaN,NaN,First Nat'l Bank of Williamson,NaN,NaN,NaN,Same
5276,N,32578.0,f,0.00,45824.939965,45824.94,35000.00,WV,10824.94,0.00,...,NaN,NaN,NaN,NaN,NaN,Family Heritage Life,NaN,NaN,NaN,Same
5720,N,14523.0,f,0.00,15956.250000,15956.25,7754.57,WV,8201.28,0.40,...,NaN,NaN,NaN,NaN,NaN,Alliance Industries,NaN,NaN,NaN,Same
5776,N,2707.0,f,0.00,23203.048550,23203.05,17500.00,WV,5703.05,0.00,...,NaN,NaN,NaN,NaN,NaN,West Virginia Department of Environmental prot...,NaN,NaN,NaN,Same
6155,N,2799.0,f,0.00,24639.753208,24555.75,22000.00,WV,2639.75,0.00,...,NaN,NaN,NaN,NaN,NaN,CSI,NaN,NaN,NaN,Same
6521,N,21005.0,f,0.00,18135.800283,17845.61,16100.00,WV,2035.80,0.00,...,NaN,NaN,NaN,NaN,NaN,Appalachian Trail Conservancy,NaN,NaN,NaN,Same
6560,N,22307.0,f,0.00,6058.712260,6058.71,5500.00,WV,558.71,0.00,...,NaN,NaN,NaN,NaN,NaN,"Verizon Federal, Inc",NaN,NaN,NaN,Same
6912,N,3147.0,f,0.00,4397.383369,4397.38,3600.00,WV,797.38,0.00,...,NaN,NaN,NaN,NaN,NaN,university health associates,NaN,NaN,NaN,Same
7061,N,6946.0,f,0.00,48309.716146,47964.72,35000.00,WV,13309.72,0.00,...,NaN,NaN,NaN,NaN,NaN,"Bluefield Transport, LLC",NaN,NaN,NaN,Same
7979,N,6383.0,f,0.00,2186.778038,2186.78,2000.00,WV,171.78,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Same
8523,N,16825.0,f,0.00,14415.525372,14415.53,12000.00,WV,2415.53,0.00,...,NaN,NaN,NaN,NaN,NaN,American Electric Power,NaN,NaN,NaN,Same
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91745,N,10867.0,w,13433.12,6741.740000,6741.74,4566.88,WV,2174.86,0.00,...,23.0,225.0,4.0,3820.0,100.0,Clerical,149.0,0.0,7.0,Same
91752,N,21807.0,f,0.00,8912.808990,8884.96,8000.00,WV,912.81,0.00,...,20.0,233.0,13.0,4935.0,97.4,salesman,132.0,0.0,1.0,Same
91847,N,15135.0,w,15351.77,8300.090000,8300.09,4648.23,WV,3651.86,0.00,...,10.0,341.0,42.0,3655.0,100.0,IT Specialist,178.0,0.0,23.0,Same
92208,N,7391.0,w,3363.16,3842.440000,3842.44,2636.84,WV,1205.60,0.00,...,8.0,143.0,3.0,10252.0,100.0,Operations Administrative Assistant,167.0,0.0,3.0,Same
92242,N,3720.0,w,12686.72,6414.890000,6414.89,4313.28,WV,2101.61,0.00,...,10.0,123.0,7.0,4173.0,100.0,HR Director,133.0,0.0,7.0,Same
92562,N,5180.0,w,9210.98,4980.130000,4980.13,2789.02,WV,2191.11,0.00,...,11.0,119.0,5.0,24307.0,85.7,DPSCS Sergeant,96.0,0.0,5.0,Same
93474,N,17820.0,f,0.00,14062.298341,14062.30,13000.00,WV,1062.30,0.00,...,29.0,187.0,6.0,18861.0,96.2,Teacher,259.0,0.0,8.0,Same
93497,N,1310.0,f,4262.98,4459.640000,4459.64,3937.02,WV,522.62,0.00,...,19.0,177.0,7.0,14443.0,100.0,Technician,152.0,0.0,8.0,Same
93785,N,5725.0,f,3905.77,4522.690000,4522.69,2944.23,WV,1578.46,0.00,...,9.0,130.0,6.0,2650.0,75.0,Labor,173.0,0.0,0.0,Same
94179,N,42564.0,w,16119.52,8714.950000,8714.95,4880.48,WV,3834.47,0.00,...,23.0,344.0,4.0,14623.0,94.9,Director of Retail Sales & Marketing,159.0,0.0,1.0,Same
94666,N,21448.0,w,10892.22,11942.280000,11942.28,9107.78,WV,2834.50,0.00,...,10.0,140.0,8.0,13699.0,96.3,Director,138.0,0.0,15.0,Same
94745,N,25011.0,w,11117.76,12805.210000,12805.21,10207.24,WV,2597.97,0.00,...,13.0,131.0,11.0,12470.0,96.2,Instructor,118.0,0.0,NaN,Same
94917,N,9968.0,w,4505.33,4856.530000,4856.53,3894.67,WV,961.86,0.00,...,14.0,268.0,21.0,8700.0,92.3,Minister,245.0,0.0,12.0,Same
95551,N,1717.0,w,19862.72,22819.650000,22819.65,15137.28,WV,7682.37,0.00,...,4.0,198.0,4.0,50932.0,71.4,Sergeant,163.0,0.0,5.0,Same
95610,N,14516.0,f,5567.90,6258.730000,6258.73,4432.10,WV,1826.63,0.00,...,7.0,148.0,77.0,22781.0,97.1,Sales Associate,167.0,0.0,NaN,Same
95826,N,19200.0,w,0.00,16010.980000,16010.98,16000.00,WV,10.98,0.00,...,24.0,118.0,1.0,2726.0,100.0,Building Manager,118.0,0.0,12.0,Same
95843,N,31935.0,w,18389.11,8894.560000,8894.56,6610.89,WV,2283.67,0.00,...,22.0,269.0,38.0,19190.0,100.0,Senior HR Sergeant,151.0,0.0,NaN,Same
95950,N,6556.0,w,0.00,11861.790685,11861.79,11200.00,WV,661.79,0.00,...,10.0,57.0,7.0,2065.0,93.0,Educator,186.0,0.0,1.0,Same
96439,N,8627.0,f,5603.68,6303.090000,6303.09,4396.32,WV,1906.77,0.00,...,21.0,52.0,8.0,1512.0,100.0,office manager,25.0,0.0,2.0,Same
96631,N,3995.0,w,0.00,7297.815479,7297.82,7000.00,WV,297.82,0.00,...,18.0,328.0,0.0,2486.0,100.0,Printing Services Specialist,170.0,0.0,0.0,Same
96640,N,59.0,f,2447.10,2904.410000,2904.41,1752.90,WV,1151.51,0.00,...,3.0,81.0,5.0,4498.0,100.0,NaN,146.0,0.0,1.0,Same
96834,N,12077.0,f,0.00,2491.550000,2474.94,1479.65,WV,1011.90,0.00,...,6.0,59.0,16.0,25924.0,100.0,Information Systems Analyst,66.0,0.0,13.0,Same
97134,N,11645.0,w,10711.32,6292.930000,6292.93,3363.68,WV,2929.25,0.00,...,32.0,401.0,1.0,4856.0,90.5,Office Administrator,167.0,0.0,1.0,Same
97692,N,10947.0,w,0.00,6746.080000,6688.26,1690.56,WV,5055.52,0.00,...,18.0,137.0,3.0,24373.0,94.4,Site Integrator,133.0,0.0,0.0,Same
97740,N,23129.0,w,11957.59,12453.920000,12453.92,11042.41,WV,1411.51,0.00,...,32.0,232.0,10.0,12729.0,97.8,COO,124.0,0.0,7.0,Same
71114,N,5674.0,w,13163.54,5141.130000,5141.13,2836.46,WV,2304.67,0.00,...,26.0,240.0,2.0,2702.0,98.4,Social worker,151.0,0.0,11.0,Same
77493,N,10272.0,w,4925.42,3807.560000,3807.56,3074.58,WV,732.98,0.00,...,9.0,164.0,7.0,12717.0,77.8,Physical therapist,153.0,0.0,20.0,Same
89592,N,13089.0,f,7494.28,5927.240000,5927.24,4505.72,WV,1421.52,0.00,...,13.0,135.0,4.0,5269.0,91.7,Owner,164.0,0.0,8.0,Same
98153,N,7852.0,f,10572.64,8663.320000,8663.32,5977.36,WV,2685.96,0.00,...,13.0,44.0,9.0,2731.0,94.1,Database Developer,86.0,0.0,0.0,Same
98906,N,445.0,w,12042.77,4994.010000,4994.01,2957.23,WV,2036.78,0.00,...,9.0,280.0,83.0,31382.0,83.3,Chief Financial Officer,130.0,0.0,0.0,Same

In [226]:
loan_df.bc_util.isnull().sum()

65540

In [231]:
loan_data.sec_app_f.tolist()

['B2',
 'C4',
 'C5',
 'C1',
 'B5',
 'A4',
 'C5',
 'E1',
 'F2',
 'B5',
 'C3',
 'B5',
 'C1',
 'B1',
 'B2',
 'D1',
 'C4',
 'A1',
 'B3',
 'A1',
 'C4',
 'B4',
 'B3',
 'B3',
 'B3',
 'B1',
 'C2',
 'D2',
 'B3',
 'B3',
 'A3',
 'A4',
 'C5',
 'A5',
 'C5',
 'B2',
 'B1',
 'A4',
 'B4',
 'B5',
 'A3',
 'A4',
 'D5',
 'D2',
 'A1',
 'B1',
 'A5',
 'B2',
 'A1',
 'A2',
 'B1',
 'B1',
 'B2',
 'C5',
 'B1',
 'E4',
 'E4',
 'B4',
 'B2',
 'D2',
 'B5',
 'D3',
 'C3',
 'D2',
 'B2',
 'B2',
 'D3',
 'C2',
 'F2',
 'C3',
 'D4',
 'D2',
 'C1',
 'D2',
 'A5',
 'C3',
 'C1',
 'F3',
 'A4',
 'E4',
 'D3',
 'C2',
 'B5',
 'A1',
 'B5',
 'B4',
 'D3',
 'B2',
 'D1',
 'C1',
 'B2',
 'B2',
 'E3',
 'B5',
 'B3',
 'F4',
 'B3',
 'D3',
 'A1',
 'B5',
 'B1',
 'D4',
 'A5',
 'B1',
 'A5',
 'D2',
 'B2',
 'C1',
 'C1',
 'B4',
 'A2',
 'A2',
 'F1',
 'B5',
 'D5',
 'B3',
 'A5',
 'B3',
 'A4',
 'B1',
 'C1',
 'B2',
 'B1',
 'B4',
 'E4',
 'A4',
 'C2',
 'E5',
 'A5',
 'A3',
 'B5',
 'C5',
 'A3',
 'C3',
 'A2',
 'A3',
 'B3',
 'A2',
 'B5',
 'A1',
 'E1',
 'B3',
 'C2',
 'A3',
 'B1',
 'B1',
 'E4',
 'E3',
 'B2',
 'D2',
 'C1',
 'B3',
 'D1',
 'C1',
 'B4',
 'C3',
 'C2',
 'A1',
 'B1',
 'B4',
 'C4',
 'D3',
 'B1',
 'A2',
 'C3',
 'B1',
 'C2',
 'B1',
 'A3',
 'B1',
 'B4',
 'C1',
 'C1',
 'B5',
 'B4',
 'C1',
 'D3',
 'F1',
 'B4',
 'B3',
 'B2',
 'B4',
 'D2',
 'D3',
 'C1',
 'B2',
 'B2',
 'C4',
 'B5',
 'B5',
 'B5',
 'B2',
 'D2',
 'D4',
 'A2',
 'C2',
 'B3',
 'B5',
 'B2',
 'C1',
 'C3',
 'B2',
 'C4',
 'B4',
 'D1',
 'B1',
 'A5',
 'C4',
 'B4',
 'E5',
 'C4',
 'C1',
 'C2',
 'C4',
 'A2',
 'B4',
 'C2',
 'D3',
 'D3',
 'B4',
 'B5',
 'C1',
 'C1',
 'G4',
 'A4',
 'D2',
 'B3',
 'A3',
 'D3',
 'B4',
 'B3',
 'B5',
 'A2',
 'B4',
 'A4',
 'A2',
 'A5',
 'F3',
 'C3',
 'B5',
 'B4',
 'B4',
 'D4',
 'C1',
 'B1',
 'B4',
 'A4',
 'B1',
 'B5',
 'D3',
 'E2',
 'B5',
 'A1',
 'A4',
 'B3',
 'B4',
 'A3',
 'B3',
 'B3',
 'A5',
 'B4',
 'C1',
 'C1',
 'C1',
 'A4',
 'B5',
 'A5',
 'B3',
 'E1',
 'A4',
 'C1',
 'B1',
 'A4',
 'B5',
 'A1',
 'A2',
 'A5',
 'A5',
 'A4',
 'B4',
 'C5',
 'A1',
 'A3',
 'B4',
 'A4',
 'C4',
 'C4',
 'B3',
 'B1',
 'B1',
 'A5',
 'D3',
 'B3',
 'B1',
 'B2',
 'A3',
 'B3',
 'B4',
 'B3',
 'D1',
 'B4',
 'D2',
 'B3',
 'C2',
 'E5',
 'D1',
 'E5',
 'A1',
 'B1',
 'B5',
 'C1',
 'A4',
 'B1',
 'E4',
 'E1',
 'B3',
 'A1',
 'C4',
 'D3',
 'D1',
 'C4',
 'C3',
 'B4',
 'D4',
 'B4',
 'A1',
 'E2',
 'E2',
 'B1',
 'C4',
 'C1',
 'B4',
 'A4',
 'B2',
 'B3',
 'D2',
 'D3',
 'C5',
 'B5',
 'B3',
 'A5',
 'B5',
 'C3',
 'C5',
 'B3',
 'D2',
 'B2',
 'E2',
 'B5',
 'C1',
 'B1',
 'A4',
 'D4',
 'A4',
 'A1',
 'C2',
 'A3',
 'C5',
 'A1',
 'C3',
 'A4',
 'E2',
 'E3',
 'C4',
 'C5',
 'B5',
 'B3',
 'C4',
 'B5',
 'A5',
 'D3',
 'B4',
 'B3',
 'B1',
 'B3',
 'E2',
 'A5',
 'A4',
 'C2',
 'A5',
 'B5',
 'B5',
 'B2',
 'B1',
 'B3',
 'A4',
 'B4',
 'B4',
 'A4',
 'B5',
 'D1',
 'D5',
 'A2',
 'B3',
 'B3',
 'B3',
 'C5',
 'D1',
 'C1',
 'C4',
 'A5',
 'C2',
 'C5',
 'F2',
 'C3',
 'C2',
 'B4',
 'D1',
 'F2',
 'A4',
 'C1',
 'A3',
 'E1',
 'B4',
 'C3',
 'B3',
 'C1',
 'B5',
 'A4',
 'B4',
 'A2',
 'A4',
 'C3',
 'A4',
 'C2',
 'E2',
 'C5',
 'A3',
 'B1',
 'D2',
 'C1',
 'E3',
 'C4',
 'B3',
 'A4',
 'D2',
 'D4',
 'A5',
 'B5',
 'A3',
 'B1',
 'A2',
 'A1',
 'A5',
 'A4',
 'A3',
 'E2',
 'A4',
 'D4',
 'B4',
 'D1',
 'B1',
 'B3',
 'C1',
 'B1',
 'B5',
 'B1',
 'A1',
 'D5',
 'B4',
 'A3',
 'A5',
 'D3',
 'A2',
 'B2',
 'B5',
 'D1',
 'E1',
 'B5',
 'D4',
 'B4',
 'A2',
 'C1',
 'A5',
 'B3',
 'D5',
 'D3',
 'D5',
 'B3',
 'D2',
 'A4',
 'B2',
 'A3',
 'A3',
 'C4',
 'B5',
 'B4',
 'A3',
 'E3',
 'A5',
 'C4',
 'E2',
 'C2',
 'A5',
 'C1',
 'B3',
 'E5',
 'A4',
 'C5',
 'B2',
 'C1',
 'B3',
 'B3',
 'D1',
 'B4',
 'C3',
 'C2',
 'B4',
 'B2',
 'C3',
 'C3',
 'B2',
 'B3',
 'D2',
 'B4',
 'C2',
 'D5',
 'C5',
 'B3',
 'C1',
 'D4',
 'C5',
 'E2',
 'C4',
 'D5',
 'A3',
 'B5',
 'B2',
 'A2',
 'C5',
 'B3',
 'E1',
 'E4',
 'A4',
 'A4',
 'B1',
 'B1',
 'C3',
 'B3',
 'E5',
 'G3',
 'D1',
 'F2',
 'C1',
 'D1',
 'C4',
 'D4',
 'B4',
 'B2',
 'A1',
 'D2',
 'D3',
 'C3',
 'B2',
 'B1',
 'A5',
 'A2',
 'B3',
 'C4',
 'C2',
 'A4',
 'B4',
 'B1',
 'A4',
 'A2',
 'B2',
 'E3',
 'B1',
 'C3',
 'D4',
 'B4',
 'A4',
 'E3',
 'B3',
 'D5',
 'B3',
 'B1',
 'C3',
 'A5',
 'B5',
 'A4',
 'D1',
 'D1',
 'B5',
 'B1',
 'D1',
 'B1',
 'B5',
 'D1',
 'D2',
 'C1',
 'E2',
 'B2',
 'D4',
 'F1',
 'B2',
 'B4',
 'E3',
 'E3',
 'A4',
 'B5',
 'B5',
 'G2',
 'B1',
 'C2',
 'B2',
 'E2',
 'D2',
 'E2',
 'C2',
 'A4',
 'A5',
 'B2',
 'E4',
 'B5',
 'D3',
 'C3',
 'D2',
 'G1',
 'B2',
 'B5',
 'D2',
 'B4',
 'B3',
 'D5',
 'C4',
 'A4',
 'A3',
 'E2',
 'A1',
 'E1',
 'D3',
 'B5',
 'B4',
 'B2',
 'B5',
 'D2',
 'B4',
 'C2',
 'A4',
 'A2',
 'A2',
 'E5',
 'C5',
 'B5',
 'C5',
 'C2',
 'B1',
 'B2',
 'A3',
 'C1',
 'D4',
 'B2',
 'C1',
 'B5',
 'E5',
 'C2',
 'D3',
 'D2',
 'B4',
 'A5',
 'D3',
 'B5',
 'A5',
 'B3',
 'C1',
 'B3',
 'E2',
 'B4',
 'B2',
 'A4',
 'D2',
 'E2',
 'C2',
 'C1',
 'A5',
 'C2',
 'A5',
 'D1',
 'B4',
 'A1',
 'B4',
 'A4',
 'B4',
 'B3',
 'A3',
 'B1',
 'B2',
 'E5',
 'B5',
 'E4',
 'A4',
 'D2',
 'B5',
 'B4',
 'B3',
 'B2',
 'C2',
 'B1',
 'C3',
 'B3',
 'B1',
 'C2',
 'D1',
 'B3',
 'C1',
 'C2',
 'B1',
 'E5',
 'C2',
 'B3',
 'A5',
 'B3',
 'C2',
 'D4',
 'E2',
 'C2',
 'A4',
 'E2',
 'C5',
 'C3',
 'A4',
 'D3',
 'A5',
 'C4',
 'A2',
 'A1',
 'A5',
 'C2',
 'C2',
 'D4',
 'D2',
 'B2',
 'B5',
 'D3',
 'G4',
 'B1',
 'C2',
 'B4',
 'B3',
 'A1',
 'A2',
 'B4',
 'B2',
 'A3',
 'B1',
 'C2',
 'C2',
 'B2',
 'D5',
 'E2',
 'C1',
 'B4',
 'E5',
 'B5',
 'B5',
 'C1',
 'D2',
 'D2',
 'C2',
 'B3',
 'C1',
 'C5',
 'B5',
 'A3',
 'C1',
 'B3',
 'F1',
 'D2',
 'A4',
 'D3',
 'A4',
 'B1',
 'D4',
 'A5',
 'B3',
 'C3',
 'B4',
 'B1',
 'B1',
 'C1',
 'A3',
 'A1',
 'E2',
 'E5',
 'A3',
 'D5',
 'C3',
 'B3',
 'C2',
 'C1',
 'B2',
 'A1',
 'B1',
 'B3',
 'D3',
 'A5',
 'C1',
 'A3',
 'B5',
 'B3',
 'C1',
 'C4',
 'D2',
 'C2',
 'A5',
 'C5',
 'B2',
 'B5',
 'C4',
 'D3',
 'C2',
 'B1',
 'A5',
 'D2',
 'C5',
 'B1',
 'D2',
 'A3',
 'B3',
 'C1',
 'D2',
 'B4',
 'B2',
 'A5',
 'D1',
 'B3',
 'C4',
 'D3',
 'D2',
 'C5',
 'C2',
 'A4',
 'A4',
 'E3',
 'F2',
 'B3',
 'E4',
 'E2',
 'C3',
 'D4',
 'B2',
 'E5',
 'C3',
 'B5',
 'E3',
 'A2',
 'C4',
 'C1',
 'A5',
 'A2',
 'C3',
 'B5',
 'B3',
 'D1',
 'B2',
 'B4',
 'D1',
 'E5',
 'C1',
 'C2',
 'A4',
 'B5',
 'A5',
 'A4',
 'C1',
 'B4',
 'D2',
 'E4',
 'B4',
 'A4',
 'B3',
 'D2',
 'A5',
 'A5',
 'B2',
 'B5',
 'A5',
 'F1',
 'A5',
 'B1',
 'C4',
 'D3',
 'A4',
 'C1',
 'A5',
 'B4',
 'B3',
 'B4',
 'F1',
 'C2',
 'B4',
 'B3',
 'E3',
 'D4',
 'C2',
 'B3',
 'A4',
 'D2',
 'B3',
 'C5',
 'A1',
 'C4',
 'B1',
 'D3',
 'B2',
 'B3',
 'A5',
 'E3',
 'A1',
 'C3',
 'B3',
 'B1',
 'B5',
 'A4',
 'B1',
 'C2',
 'C3',
 'F1',
 'A5',
 'B4',
 'F3',
 'D1',
 'D3',
 'B1',
 'B1',
 'A3',
 'B1',
 'F5',
 'B2',
 'E3',
 'A2',
 'C1',
 'A4',
 'D5',
 'B3',
 'A4',
 'D3',
 'A5',
 'B3',
 'C3',
 'C3',
 'C5',
 'D2',
 'C2',
 'C1',
 'B5',
 'C1',
 'D3',
 'B4',
 'C2',
 'B4',
 'B1',
 'B3',
 'D2',
 'A3',
 'E5',
 'B4',
 'C4',
 'A2',
 'B2',
 'D1',
 'D1',
 'D2',
 'A5',
 'B1',
 'F5',
 'A5',
 'C1',
 'C2',
 'F1',
 'D2',
 'B1',
 'C2',
 'B2',
 'A2',
 'C4',
 'B4',
 'B1',
 'B3',
 'A5',
 'B5',
 'B3',
 'D1',
 'B4',
 'B4',
 'E1',
 'C2',
 'E3',
 'F2',
 'D2',
 'C5',
 'B2',
 'A5',
 'A5',
 'C4',
 'B1',
 'B1',
 'E5',
 'D3',
 ...]

In [230]:
loan_data[['acc_now_delinq','bc_util','all_util','delinq_2yrs','delinq_amnt','']]

        acc_now_delinq  bc_util  all_util  delinq_2yrs  delinq_amnt
0                  0.0      NaN       NaN          0.0          0.0
1                  0.0      NaN       NaN          0.0          0.0
2                  0.0      NaN       NaN          0.0          0.0
3                  0.0      NaN       NaN          0.0          0.0
4                  0.0      NaN       NaN          0.0          0.0
5                  0.0      NaN       NaN          0.0          0.0
6                  0.0      NaN       NaN          0.0          0.0
7                  0.0      NaN       NaN          0.0          0.0
8                  0.0      NaN       NaN          0.0          0.0
9                  0.0      NaN       NaN          0.0          0.0
10                 0.0      NaN       NaN          0.0          0.0
11                 0.0      NaN       NaN          0.0          0.0
12                 0.0      NaN       NaN          0.0          0.0
13                 0.0      NaN       NaN          0.0          0.0
14                 0.0      NaN       NaN          0.0          0.0
15                 0.0      NaN       NaN          0.0          0.0
16                 0.0      NaN       NaN          0.0          0.0
17                 0.0      NaN       NaN          0.0          0.0
18                 0.0      NaN       NaN          2.0          0.0
19                 0.0      NaN       NaN          0.0          0.0
20                 0.0      NaN       NaN          0.0          0.0
21                 0.0      NaN       NaN          0.0          0.0
22                 0.0      NaN       NaN          0.0          0.0
23                 0.0      NaN       NaN          0.0          0.0
24                 0.0      NaN       NaN          0.0          0.0
25                 0.0      NaN       NaN          0.0          0.0
26                 0.0      NaN       NaN          0.0          0.0
27                 0.0      NaN       NaN          3.0          0.0
28                 0.0      NaN       NaN          1.0          0.0
29                 0.0      NaN       NaN          0.0          0.0
...                ...      ...       ...          ...          ...
105421             0.0     64.9      77.0          0.0          0.0
105422             0.0     58.8      71.0          0.0          0.0
105423             0.0     96.2      74.0          0.0          0.0
105424             0.0     96.2      76.0          1.0          0.0
105425             0.0     93.9      57.0          0.0          0.0
105426             0.0     47.6      61.0          0.0          0.0
105427             0.0     82.2      77.0          0.0          0.0
105428             0.0     58.3      57.0          3.0          0.0
105429             0.0     76.3      65.0          0.0          0.0
105430             0.0     46.2      49.0          0.0          0.0
105431             0.0     73.0      66.0          0.0          0.0
105432             0.0     56.3      62.0          0.0          0.0
105433             0.0     80.4      57.0          3.0          0.0
105434             0.0     98.0      57.0          0.0          0.0
105435             0.0     95.8      49.0          0.0          0.0
105436             0.0     75.9      74.0          0.0          0.0
105437             0.0     32.3      42.0          0.0          0.0
105438             0.0     98.3      66.0          1.0          0.0
105439             0.0     85.6      48.0          0.0          0.0
105440             0.0    100.6      69.0          0.0          0.0
105441             0.0     52.9      48.0          0.0          0.0
105442             0.0     68.0      58.0          0.0          0.0
105443             0.0     14.2      58.0          0.0          0.0
105444             0.0     67.3      51.0          0.0          0.0
105445             0.0     92.1      88.0          0.0          0.0
105446             0.0     26.0      25.0          3.0          0.0
105447             0.0     24.6      20.0          1.0          0.0
105448             0.0     66.1      47.0          0.0          0.0
105449             1.0      5.5      55.0          1.0         51.0
105450             0.0     80.6      69.0          1.0          0.0

[1524078 rows x 5 columns]

In [237]:
loan_df.int_rate.isnull().sum()

0

In [240]:
loan_df[['int_rate','loan_amnt']][loan_df.addr_state=='WV']

      int_rate  loan_amnt
139      6.03%     6200.0
278      7.90%    14000.0
286     15.27%     4800.0
841     10.65%     6000.0
899     11.71%     7000.0
1156    12.42%    17000.0
1590    14.27%     6500.0
1738    15.96%    11100.0
2043     8.90%     6000.0
2804    17.27%    35000.0
2896    16.29%     1600.0
2916    11.71%    20000.0
3563     8.90%    11500.0
3731    13.49%    22125.0
4047    14.27%    30000.0
4095    17.58%     4800.0
4149    11.71%     4925.0
4430    11.71%    15000.0
4454    18.25%    18000.0
5190     6.62%    17000.0
5276    11.71%    35000.0
5720    18.25%    25000.0
5776    11.71%    17500.0
6155     7.51%    22000.0
6521     7.90%    16100.0
6560    11.71%     5500.0
6912    13.49%     3600.0
7061    13.49%    35000.0
7979     5.42%     2000.0
8523    10.59%    12000.0
...        ...        ...
91745    9.16%    18000.0
91752   18.25%     8000.0
91847   13.67%    20000.0
92208   16.29%     6000.0
92242    9.16%    17000.0
92562   13.67%    12000.0
93474    9.16%    13000.0
93497    5.32%     8200.0
93785   18.99%     6850.0
94179   13.67%    21000.0
94666   11.99%    20000.0
94745    6.00%    21325.0
94917    9.75%     8400.0
95551   18.25%    35000.0
95610   15.31%    10000.0
95826   18.99%    16000.0
95843    6.97%    25000.0
95950    7.89%    11200.0
96439   16.29%    10000.0
96631    5.32%     7000.0
96640   22.45%     4200.0
96834   19.99%     7500.0
97134   15.31%    14075.0
97692   28.99%    35000.0
97740    5.32%    23000.0
71114   13.49%    16000.0
77493    8.99%     8000.0
89592   11.49%    12000.0
98153   15.59%    16550.0
98906   11.99%    15000.0

[5156 rows x 2 columns]

In [241]:
loan_df.issue_d

0         Dec-2011
1         Dec-2011
2         Dec-2011
3         Dec-2011
4         Dec-2011
5         Dec-2011
6         Dec-2011
7         Dec-2011
8         Dec-2011
9         Dec-2011
10        Dec-2011
11        Dec-2011
12        Dec-2011
13        Dec-2011
14        Dec-2011
15        Dec-2011
16        Dec-2011
17        Dec-2011
18        Dec-2011
19        Dec-2011
20        Dec-2011
21        Dec-2011
22        Dec-2011
23        Dec-2011
24        Dec-2011
25        Dec-2011
26        Dec-2011
27        Dec-2011
28        Dec-2011
29        Dec-2011
            ...
105421    Apr-2017
105422    Apr-2017
105423    Apr-2017
105424    Apr-2017
105425    Apr-2017
105426    Apr-2017
105427    Apr-2017
105428    Apr-2017
105429    Apr-2017
105430    Apr-2017
105431    Apr-2017
105432    Apr-2017
105433    Apr-2017
105434    Apr-2017
105435    Apr-2017
105436    Apr-2017
105437    Apr-2017
105438    Apr-2017
105439    Apr-2017
105440    Apr-2017
105441    Apr-2017
105442    Apr-2017
105443    Apr-2017
105444    Apr-2017
105445    Apr-2017
105446    Apr-2017
105447    Apr-2017
105448    Apr-2017
105449    Apr-2017
105450    Apr-2017
Name: issue_d, dtype: object

In [251]:
loan_df.groupby('verification_status').describe().T

verification_status        Not Verified                                \
                                  count           mean            std
acc_now_delinq                 469173.0       0.003826       0.065325
acc_open_past_24mths           448144.0       4.194714       2.801861
annual_inc                     469198.0   71338.037856   46105.113049
avg_cur_bal                    440309.0   13201.302735   14765.614094
bc_open_to_buy                 444529.0   11721.199861   16344.461113
bc_util                        444346.0      56.640322      27.910421
chargeoff_within_12_mths       469057.0       0.006142       0.088422
collection_recovery_fee        469202.0       7.775102      66.964614
collections_12_mths_ex_med     469057.0       0.013593       0.127234
delinq_2yrs                    469173.0       0.308234       0.865214
delinq_amnt                    469173.0       7.398410     520.952919
dti                            469041.0      17.866893      10.334564
funded_amnt                    469202.0   12300.510814    6733.518390
funded_amnt_inv                469202.0   12258.108173    6753.795105
inq_last_6mths                 469173.0       0.567053       0.895668
installment                    469202.0     366.559490     193.473336
last_pymnt_amnt                469202.0    2484.561097    4456.158733
loan_amnt                      469202.0   12305.829419    6733.248365
mo_sin_old_il_acct             427366.0     127.524344      51.806123
mo_sin_old_rev_tl_op           440311.0     186.996105      94.806592
mo_sin_rcnt_rev_tl_op          440311.0      14.011546      17.001285
mo_sin_rcnt_tl                 440311.0       8.482704       8.919852
mort_acc                       448144.0       1.648807       1.920894
mths_since_recent_bc           444739.0      25.411313      31.879126
mths_since_recent_inq          394373.0       7.252928       6.066133
num_accts_ever_120_pd          440311.0       0.460965       1.264035
num_actv_bc_tl                 440311.0       3.639210       2.198176
num_actv_rev_tl                440311.0       5.596815       3.182746
num_bc_sats                    445414.0       4.765099       2.868270
num_bc_tl                      440311.0       8.096030       4.647094
...                                 ...            ...            ...
num_rev_tl_bal_gt_0            440311.0       5.556890       3.139932
num_sats                       445414.0      11.770382       5.488964
num_tl_120dpd_2m               422788.0       0.000272       0.017330
num_tl_30dpd                   440311.0       0.003498       0.062221
num_tl_90g_dpd_24m             440311.0       0.080041       0.490449
num_tl_op_past_12m             440311.0       1.850712       1.521038
open_acc                       469173.0      11.679361       5.476360
out_prncp                      469202.0    4438.855278    6189.160784
out_prncp_inv                  469202.0    4437.472126    6187.529480
pct_tl_nvr_dlq                 440274.0      94.236284       8.801443
percent_bc_gt_75               444304.0      40.833569      35.500005
policy_code                    469202.0       1.000000       0.000000
pub_rec                        469173.0       0.184305       0.566658
pub_rec_bankruptcies           467841.0       0.112344       0.345451
recoveries                     469202.0      49.402988     365.213314
revol_bal                      469202.0   15072.380258   18523.320577
tax_liens                      469097.0       0.046142       0.381480
tot_coll_amt                   440311.0     225.981120    2665.912824
tot_cur_bal                    440311.0  138151.661144  140498.554227
tot_hi_cred_lim                440311.0  174248.375600  158454.194695
total_acc                      469173.0      24.724805      11.628786
total_bal_ex_mort              448144.0   47732.221478   44843.608346
total_bc_limit                 448144.0   22544.445863   21232.564690
total_il_high_credit_limit     440311.0   41878.560611   42103.897049
total_pymnt                    469202.0    8855.320668    6360.045611
total_pymnt_inv                469202.0    8813.688922    6356.032485
total_rec_int                  469202.0    1579.342092    1432.735203
total_rec_late_fee             469202.0       0.589858       4.973699
total_rec_prncp                469202.0    7225.985735    5713.273543
total_rev_hi_lim               440311.0   33515.559738   30824.347726

verification_status                                                  \
                                     min         25%            50%
acc_now_delinq              0.000000e+00      0.0000       0.000000
acc_open_past_24mths        0.000000e+00      2.0000       4.000000
annual_inc                  0.000000e+00  46000.0000   64000.000000
avg_cur_bal                 0.000000e+00   3100.0000    7959.000000
bc_open_to_buy              0.000000e+00   1860.0000    5787.000000
bc_util                     0.000000e+00     34.5000      58.000000
chargeoff_within_12_mths    0.000000e+00      0.0000       0.000000
collection_recovery_fee     0.000000e+00      0.0000       0.000000
collections_12_mths_ex_med  0.000000e+00      0.0000       0.000000
delinq_2yrs                 0.000000e+00      0.0000       0.000000
delinq_amnt                 0.000000e+00      0.0000       0.000000
dti                        -1.000000e+00     11.6700      17.290000
funded_amnt                 5.000000e+02   7000.0000   11200.000000
funded_amnt_inv             0.000000e+00   7000.0000   11200.000000
inq_last_6mths              0.000000e+00      0.0000       0.000000
installment                 1.401000e+01    227.4800     334.160000
last_pymnt_amnt             0.000000e+00    279.1600     471.710000
loan_amnt                   5.000000e+02   7000.0000   11200.000000
mo_sin_old_il_acct          0.000000e+00    100.0000     131.000000
mo_sin_old_rev_tl_op        5.000000e+00    121.0000     169.000000
mo_sin_rcnt_rev_tl_op       0.000000e+00      4.0000       9.000000
mo_sin_rcnt_tl              0.000000e+00      3.0000       6.000000
mort_acc                    0.000000e+00      0.0000       1.000000
mths_since_recent_bc        0.000000e+00      6.0000      14.000000
mths_since_recent_inq       0.000000e+00      2.0000       6.000000
num_accts_ever_120_pd       0.000000e+00      0.0000       0.000000
num_actv_bc_tl              0.000000e+00      2.0000       3.000000
num_actv_rev_tl             0.000000e+00      3.0000       5.000000
num_bc_sats                 0.000000e+00      3.0000       4.000000
num_bc_tl                   0.000000e+00      5.0000       7.000000
...                                  ...         ...            ...
num_rev_tl_bal_gt_0         0.000000e+00      3.0000       5.000000
num_sats                    0.000000e+00      8.0000      11.000000
num_tl_120dpd_2m            0.000000e+00      0.0000       0.000000
num_tl_30dpd                0.000000e+00      0.0000       0.000000
num_tl_90g_dpd_24m          0.000000e+00      0.0000       0.000000
num_tl_op_past_12m          0.000000e+00      1.0000       2.000000
open_acc                    0.000000e+00      8.0000      11.000000
out_prncp                   0.000000e+00      0.0000       0.000000
out_prncp_inv               0.000000e+00      0.0000       0.000000
pct_tl_nvr_dlq              7.700000e+00     91.7000     100.000000
percent_bc_gt_75            0.000000e+00      0.0000      33.300000
policy_code                 1.000000e+00      1.0000       1.000000
pub_rec                     0.000000e+00      0.0000       0.000000
pub_rec_bankruptcies        0.000000e+00      0.0000       0.000000
recoveries                  0.000000e+00      0.0000       0.000000
revol_bal                   0.000000e+00   6076.0000   10903.000000
tax_liens                   0.000000e+00      0.0000       0.000000
tot_coll_amt                0.000000e+00      0.0000       0.000000
tot_cur_bal                 0.000000e+00  29740.0000   91990.000000
tot_hi_cred_lim             0.000000e+00  53225.5000  127395.000000
total_acc                   1.000000e+00     16.0000      23.000000
total_bal_ex_mort           0.000000e+00  20015.0000   35546.000000
total_bc_limit              0.000000e+00   8500.0000   16300.000000
total_il_high_credit_limit  0.000000e+00  15000.0000   31360.000000
total_pymnt                 0.000000e+00   3868.5975    7476.320675
total_pymnt_inv             0.000000e+00   3824.2875    7431.170000
total_rec_int               0.000000e+00    604.7625    1176.720000
total_rec_late_fee         -5.000000e-10      0.0000       0.000000
total_rec_prncp             0.000000e+00   2774.2175    5806.850000
total_rev_hi_lim            0.000000e+00  15000.0000   25439.000000

verification_status                                     Source Verified  \
                                      75%           max           count
acc_now_delinq                   0.000000  3.000000e+00        582710.0
acc_open_past_24mths             6.000000  4.900000e+01        569836.0
annual_inc                   87000.000000  9.300086e+06        582710.0
avg_cur_bal                  18664.000000  4.474330e+05        564866.0
bc_open_to_buy               14982.000000  7.111400e+05        563872.0
bc_util                         81.000000  1.970000e+02        563524.0
chargeoff_within_12_mths         0.000000  1.000000e+01        582710.0
collection_recovery_fee          0.000000  6.972590e+03        582710.0
collections_12_mths_ex_med       0.000000  9.000000e+00        582710.0
delinq_2yrs                      0.000000  4.200000e+01        582710.0
delinq_amnt                      0.000000  1.307780e+05        582710.0
dti                             23.490000  9.990000e+02        582702.0
funded_amnt                  16000.000000  4.000000e+04        582710.0
funded_amnt_inv              16000.000000  4.000000e+04        582710.0
inq_last_6mths                   1.000000  3.300000e+01        582709.0
installment                    481.840000  1.500030e+03        582710.0
last_pymnt_amnt               2314.882500  4.020565e+04        582710.0
loan_amnt                    16000.000000  4.000000e+04        582710.0
mo_sin_old_il_acct             154.000000  7.240000e+02        549794.0
mo_sin_old_rev_tl_op           236.000000  9.010000e+02        564868.0
mo_sin_rcnt_rev_tl_op           17.000000  3.720000e+02        564868.0
mo_sin_rcnt_tl                  11.000000  1.810000e+02        564868.0
mort_acc                         3.000000  5.100000e+01        569836.0
mths_since_recent_bc            31.000000  6.100000e+02        564254.0
mths_since_recent_inq           11.000000  2.500000e+01        511666.0
num_accts_ever_120_pd            0.000000  5.100000e+01        564868.0
num_actv_bc_tl                   5.000000  3.000000e+01        564868.0
num_actv_rev_tl                  7.000000  5.200000e+01        564868.0
num_bc_sats                      6.000000  7.100000e+01        567027.0
num_bc_tl                       10.000000  7.900000e+01        564868.0
...                                   ...           ...             ...
num_rev_tl_bal_gt_0              7.000000  4.700000e+01        564868.0
num_sats                        15.000000  9.700000e+01        567027.0
num_tl_120dpd_2m                 0.000000  3.000000e+00        556858.0
num_tl_30dpd                     0.000000  3.000000e+00        564868.0
num_tl_90g_dpd_24m               0.000000  4.200000e+01        564868.0
num_tl_op_past_12m               3.000000  2.300000e+01        564868.0
open_acc                        14.000000  9.700000e+01        582710.0
out_prncp                     7890.317500  3.878450e+04        582710.0
out_prncp_inv                 7887.080000  3.876026e+04        582710.0
pct_tl_nvr_dlq                 100.000000  1.000000e+02        564816.0
percent_bc_gt_75                66.700000  1.000000e+02        563826.0
policy_code                      1.000000  1.000000e+00        582710.0
pub_rec                          0.000000  6.100000e+01        582710.0
pub_rec_bankruptcies             0.000000  1.100000e+01        582710.0
recoveries                       0.000000  2.775000e+04        582710.0
revol_bal                    18329.000000  1.207359e+06        582710.0
tax_liens                        0.000000  6.100000e+01        582710.0
tot_coll_amt                     0.000000  9.324610e+05        564868.0
tot_cur_bal                 208314.500000  5.445012e+06        564868.0
tot_hi_cred_lim             253114.500000  9.999999e+06        564868.0
total_acc                       31.000000  1.600000e+02        582710.0
total_bal_ex_mort            60114.000000  9.466820e+05        569836.0
total_bc_limit               29500.000000  7.195000e+05        569836.0
total_il_high_credit_limit   56395.000000  7.972610e+05        564868.0
total_pymnt                  12321.897731  5.554461e+04        582710.0
total_pymnt_inv              12284.395000  5.554461e+04        582710.0
total_rec_int                 2103.810000  2.328931e+04        582710.0
total_rec_late_fee               0.000000  5.230800e+02        582710.0
total_rec_prncp              10000.000000  4.000000e+04        582710.0
total_rev_hi_lim             42200.000000  1.506001e+06        564868.0

verification_status                            ...                      \
                                     mean      ...                 75%
acc_now_delinq                   0.005802      ...            0.000000
acc_open_past_24mths             4.556641      ...            6.000000
annual_inc                   81030.968362      ...        95000.000000
avg_cur_bal                  13088.717958      ...        17958.750000
bc_open_to_buy                9272.747749      ...        11129.000000
bc_util                         62.205380      ...           85.700000
chargeoff_within_12_mths         0.009818      ...            0.000000
collection_recovery_fee         15.635098      ...            0.000000
collections_12_mths_ex_med       0.020451      ...            0.000000
delinq_2yrs                      0.356366      ...            0.000000
delinq_amnt                     12.983687      ...            0.000000
dti                             17.696524      ...           23.270000
funded_amnt                  14930.038999      ...        20000.000000
funded_amnt_inv              14919.830626      ...        20000.000000
inq_last_6mths                   0.603790      ...            1.000000
installment                    442.702670      ...          590.930000
last_pymnt_amnt               3225.632444      ...         2814.142500
loan_amnt                    14934.157729      ...        20000.000000
mo_sin_old_il_acct             125.885228      ...          153.000000
mo_sin_old_rev_tl_op           178.334209      ...          227.000000
mo_sin_rcnt_rev_tl_op           13.252321      ...           16.000000
mo_sin_rcnt_tl                   8.030545      ...           10.000000
mort_acc                         1.575639      ...            3.000000
mths_since_recent_bc            24.159049      ...           29.000000
mths_since_recent_inq            6.860589      ...           10.000000
num_accts_ever_120_pd            0.564211      ...            1.000000
num_actv_bc_tl                   3.639985      ...            5.000000
num_actv_rev_tl                  5.633369      ...            7.000000
num_bc_sats                      4.579685      ...            6.000000
num_bc_tl                        7.788535      ...           10.000000
...                                   ...      ...                 ...
num_rev_tl_bal_gt_0              5.627904      ...            7.000000
num_sats                        11.552418      ...           14.000000
num_tl_120dpd_2m                 0.000779      ...            0.000000
num_tl_30dpd                     0.004059      ...            0.000000
num_tl_90g_dpd_24m               0.095235      ...            0.000000
num_tl_op_past_12m               2.080798      ...            3.000000
open_acc                        11.526217      ...           14.000000
out_prncp                     5044.792938      ...         8180.735000
out_prncp_inv                 5042.924378      ...         8176.517500
pct_tl_nvr_dlq                  93.648525      ...          100.000000
percent_bc_gt_75                47.244791      ...           75.000000
policy_code                      1.000000      ...            1.000000
pub_rec                          0.246124      ...            0.000000
pub_rec_bankruptcies             0.138309      ...            0.000000
recoveries                      97.016699      ...            0.000000
revol_bal                    16603.332704      ...        20270.000000
tax_liens                        0.069273      ...            0.000000
tot_coll_amt                   262.798783      ...            0.000000
tot_cur_bal                 137225.741026      ...       203627.000000
tot_hi_cred_lim             168975.354520      ...       243098.500000
total_acc                       24.416269      ...           31.000000
total_bal_ex_mort            50717.687263      ...        63103.000000
total_bc_limit               20961.290756      ...        27000.000000
total_il_high_credit_limit   42627.237239      ...        56619.250000
total_pymnt                  11166.696706      ...        15851.187515
total_pymnt_inv              11157.522426      ...        15832.770000
total_rec_int                 2375.952463      ...         3142.680000
total_rec_late_fee               0.949885      ...            0.000000
total_rec_prncp               8692.777658      ...        12000.000000
total_rev_hi_lim             31892.393402      ...        39300.000000

verification_status                       Verified                 \
                                     max     count           mean
acc_now_delinq              5.000000e+00  472165.0       0.007203
acc_open_past_24mths        6.400000e+01  456067.0       4.918512
annual_inc                  6.100000e+07  472165.0   78192.318310
avg_cur_bal                 9.580840e+05  448612.0   14115.527668
bc_open_to_buy              4.974450e+05  450945.0    8791.579188
bc_util                     3.396000e+02  450668.0      65.111472
chargeoff_within_12_mths    9.000000e+00  472165.0       0.010761
collection_recovery_fee     5.582269e+03  472165.0      22.337983
collections_12_mths_ex_med  2.000000e+01  472165.0       0.017926
delinq_2yrs                 3.000000e+01  472165.0       0.327796
delinq_amnt                 1.591770e+05  472165.0      27.328739
dti                         9.990000e+02  472161.0      19.909020
funded_amnt                 4.000000e+04  472165.0   16917.989739
funded_amnt_inv             4.000000e+04  472165.0   16891.171732
inq_last_6mths              1.000000e+01  472165.0       0.730840
installment                 1.587230e+03  472165.0     508.729631
last_pymnt_amnt             4.200520e+04  472165.0    3833.586237
loan_amnt                   4.000000e+04  472165.0   16932.840056
mo_sin_old_il_acct          7.200000e+02  434134.0     127.771018
mo_sin_old_rev_tl_op        9.990000e+02  448621.0     188.825909
mo_sin_rcnt_rev_tl_op       3.150000e+02  448621.0      13.398109
mo_sin_rcnt_tl              2.890000e+02  448622.0       7.880244
mort_acc                    5.200000e+01  456067.0       1.774739
mths_since_recent_bc        6.040000e+02  451275.0      24.286338
mths_since_recent_inq       2.500000e+01  412598.0       6.517867
num_accts_ever_120_pd       3.400000e+01  448622.0       0.491628
num_actv_bc_tl              4.600000e+01  448622.0       3.881593
num_actv_rev_tl             5.900000e+01  448622.0       6.091810
num_bc_sats                 5.400000e+01  453046.0       4.971387
num_bc_tl                   6.800000e+01  448622.0       8.321440
...                                  ...       ...            ...
num_rev_tl_bal_gt_0         5.900000e+01  448622.0       5.970806

In [253]:
loan_df.shape

(1524077, 87)

In [257]:
loan_df.isnull().sum().to_frame().to_csv('/Users/sonalichaudhari/Desktop/csv.csv')

In [266]:
loan_data[['total_pymnt','total_pymnt_inv','zip_code']]

         total_pymnt  total_pymnt_inv zip_code
0        5863.155187          5833.84    860xx
1        1014.530000          1014.53    309xx
2        3005.666844          3005.67    606xx
3       12231.890000         12231.89    917xx
4        4066.908161          4066.91    972xx
5        5632.210000          5632.21    852xx
6       10137.840008         10137.84    280xx
7        3939.135294          3939.14    900xx
8         647.500000           647.50    958xx
9        1484.590000          1477.70    774xx
10       7678.017673          7678.02    853xx
11      13947.989155         13947.99    913xx
12       2277.320000          2277.32    245xx
13       3480.269999          3480.27    606xx
14       7471.990000          7471.99    951xx
15       1270.716942          1270.72    641xx
16      12527.150000         12527.15    921xx
17       3785.271965          3785.27    067xx
18       7167.072893          7167.07    890xx
19       9460.000848          9460.00    921xx
20      27679.049997         25433.60    770xx
21      14034.600000         14034.60    335xx
22      11907.350000         11907.35    799xx
23      11540.891977         11540.89    917xx
24       2055.850000          2055.85    900xx
25      15823.999049         15824.00    605xx
26          0.000000             0.00    103xx
27       1611.160000          1611.16    150xx
28       4486.293519          4486.29    326xx
29      10126.088441         10126.09    564xx
...              ...              ...      ...
105421   1641.430000          1641.43    701xx
105422   2675.670000          2675.67    064xx
105423   3703.480000          3703.48    210xx
105424   1295.340000          1295.34    841xx
105425   2293.510000          2293.51    932xx
105426   3022.430000          3022.43    958xx
105427  27664.954786         27664.95    115xx
105428   3510.380000          3510.38    234xx
105429   2222.100000          2222.10    786xx
105430   2166.540000          2166.54    531xx
105431   3982.840000          3982.84    714xx
105432   4147.950000          4147.95    917xx
105433   2592.270000          2592.27    067xx
105434    689.270000           689.27    104xx
105435   4050.430000          4050.43    430xx
105436   5009.540000          5009.54    864xx
105437   3005.760000          3005.76    078xx
105438   5189.080000          5189.08    982xx
105439   1014.918899          1014.92    475xx
105440   4050.430000          4050.43    762xx
105441   4080.790000          4080.79    331xx
105442   6472.110000          6472.11    208xx
105443   4858.060000          4858.06    612xx
105444   2252.770000          2252.77    939xx
105445   3346.240000          3346.24    925xx
105446   4298.330000          4298.33    801xx
105447   1875.480000          1875.48    187xx
105448   2140.070000          2140.07    220xx
105449   1191.870000          1191.87    105xx
105450   1236.630000          1236.63    797xx

[1524078 rows x 3 columns]

In [282]:
loan_df[loan_df.zip_code.isnull()]

,hardship_flag,revol_bal,initial_list_status,out_prncp,total_pymnt,total_pymnt_inv,total_rec_prncp,addr_state,total_rec_int,recoveries,...,total_rev_hi_lim,num_rev_accts,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,avg_cur_bal,pct_tl_nvr_dlq,emp_title,mo_sin_old_il_acct,num_tl_120dpd_2m,mths_since_recent_inq
81544,N,7129.0,f,4439.34,1766.77,1766.77,1160.66,AL,606.11,0.0,...,10400.0,5.0,41.0,11.0,11273.0,100.0,Electrician,103.0,0.0,6.0

# SORTING

In [371]:
del loan_data['id']
s = loan_data.reset_index()
s['index'] = s.index +1
s=s.rename(columns = {'index':'id'})

KeyError: 'id'

In [372]:
s.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [443]:
f = ['id','application_type','emp_length','dti','annual_inc','dti_joint','annual_inc_joint','grade','sub_grade','int_rate','loan_amnt','issue_d','purpose','addr_state','zip_code']

In [444]:
len(f)

15

In [445]:
temp = s[f]

In [464]:
temp.isnull().sum()

id                    0
application_type      0
emp_length            0
dti                 173
annual_inc            4
dti_joint             4
annual_inc_joint      0
grade                 0
sub_grade             0
int_rate              0
loan_amnt             0
issue_d               0
purpose               0
addr_state            0
zip_code              0
dtype: int64

In [447]:
temp = temp[temp.application_type.notnull()]

In [456]:
temp.head()

,id,application_type,emp_length,dti,annual_inc,dti_joint,annual_inc_joint,grade,sub_grade,int_rate,loan_amnt,issue_d,purpose,addr_state,zip_code
0,1,Individual,10,27.65,24000.0,0.0,NaN,B,B2,10.65,5000.0,Dec-2011,credit_card,AZ,860
1,2,Individual,0,1.00,30000.0,0.0,NaN,C,C4,15.27,2500.0,Dec-2011,car,GA,309
2,3,Individual,10,8.72,12252.0,0.0,NaN,C,C5,15.96,2400.0,Dec-2011,small_business,IL,606
3,4,Individual,10,20.00,49200.0,0.0,NaN,C,C1,13.49,10000.0,Dec-2011,other,CA,917
4,5,Individual,1,17.94,80000.0,0.0,NaN,B,B5,12.69,3000.0,Dec-2011,other,OR,972

## Emp Length

In [450]:
temp['emp_length']=np.where(temp['emp_length']=='10+ years','10',temp['emp_length'])
temp['emp_length']=np.where(temp['emp_length']=='< 1 year','0',temp['emp_length'])
temp['emp_length']=np.where(temp['emp_length']=='1 year','1',temp['emp_length'])
temp['emp_length'] = temp['emp_length'].map(lambda x: x.rstrip('years'))

## Zipcode

In [451]:
temp['zip_code'] = temp['zip_code'].astype(str).map(lambda x: x.rstrip('xx'))

In [452]:
temp['int_rate'] = temp['int_rate'].astype(str).map(lambda x: x.rstrip('%'))

## dti and dti_joint

In [462]:
temp['dti_joint'] = np.where(temp['application_type']=='Individual',0,temp['dti_joint'])

## annual_inc_joint

In [466]:
temp['annual_inc_joint'].fillna(0,inplace = True)

In [471]:
temp['int_rate']= temp['int_rate'].astype(float)

In [472]:
temp[temp.dti_joint.isnull()]

,id,application_type,emp_length,dti,annual_inc,dti_joint,annual_inc_joint,grade,sub_grade,int_rate,loan_amnt,issue_d,purpose,addr_state,zip_code
490172,490173,Joint App,10,29.32,44000.0,NaN,52640.0,D,D1,15.41,15000.0,Dec-2015,debt_consolidation,OR,973
529254,529255,Joint App,8,26.57,44720.0,NaN,109720.0,B,B4,10.99,18000.0,Nov-2015,debt_consolidation,FL,331
944256,944257,Joint App,10,9.63,50000.0,NaN,170000.0,C,C4,14.46,16925.0,Mar-2016,debt_consolidation,CA,945
959370,959371,Joint App,2,20.35,24000.0,NaN,77000.0,C,C4,14.46,5500.0,Feb-2016,debt_consolidation,SC,296

In [481]:
temp[['grade','int_rate','application_type']].groupby(['grade']).mean()

        int_rate
grade
A       7.104799
B      10.622023
C      13.963123
D      17.602238
E      20.933701
F      24.747432
G      27.230416