# LOAN DETAILS DATA

### • Missing data analysis: How will you handle missing data?
### • Feature engineering: What variables do you need to predict interest rates? Ensure users would be able to give you that information to help you predict rates
### • You need to create one more pipeline to do this for the “Declined Loan data”. Repeat above steps
### NOTE: NO HUMAN INTERVERSION SHOULD BE NEEDED AT ALL. YOUR LUIGI/AIRFLOW script SHOULD DO EVERYTHING.
### Exploratory Data analysis: (15 points)
### • Write a Jupyter notebook using R/Python to graphically represent different summaries of data. Summarize your findings in this notebook.
### • Summarize your key insights about different user profiles, states, loan amounts etc.

### Imports

In [3]:
import pandas as pd
import numpy as np
import csv

### Reading each CSV in a separate dataframe

In [4]:
d1 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats3a.csv', header=1, skipfooter=4, engine='python')
d2 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats3b.csv', header=1, skipfooter=4, engine='python')
d3 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats3c.csv', header=1, skipfooter=4, engine='python')
d4 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats3d.csv', header=1, skipfooter=4, engine='python')
d5 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2016Q1.csv', header=1, skipfooter=4, engine='python')
d6 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2016Q2.csv', header=1, skipfooter=4, engine='python')
d7 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2016Q3.csv', header=1, skipfooter=4, engine='python')
d8 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2016Q4.csv', header=1, skipfooter=4, engine='python')
d9 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2017Q1.csv', header=1, skipfooter=4, engine='python')
d10 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2017Q2.csv', header=1, skipfooter=4, engine='python')
d11 = pd.read_csv('/Users/sonalichaudhari/Desktop/ADS_A_2/loanstatecsvFinal/LoanStats_2017Q3.csv', header=1, skipfooter=4, engine='python')

### Concatenating all the CSVs in one dataframe

In [5]:
loan_data = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9, d10])

### Finding the missing data percentage and storing columns in features with mores than 70% data

In [6]:
missing_data = loan_data.isnull().sum().to_frame(name='Missing_Count').reset_index()
missing_data['Missing_percent'] = (missing_data['Missing_Count']/loan_data.shape[0])*100
missing_data.head()
missing_data = missing_data.sort_values(by='Missing_percent', axis=0, ascending=True)
features = missing_data['index'][(missing_data.Missing_percent <30)]
len(features)

87

### Considering only the relevant features

In [7]:
loan_df = loan_data[features]
len(loan_df.columns)

87

In [132]:
loan_df.shape

(1524078, 87)

In [15]:
loan_df.isnull().sum().sort_values(ascending = False)

mths_since_recent_inq         205440
num_tl_120dpd_2m              128983
mo_sin_old_il_acct            112783
emp_title                      93634
pct_tl_nvr_dlq                 70429
avg_cur_bal                    70290
mo_sin_rcnt_rev_tl_op          70277
mo_sin_old_rev_tl_op           70277
num_rev_accts                  70277
num_op_rev_tl                  70276
tot_hi_cred_lim                70276
mo_sin_rcnt_tl                 70276
num_accts_ever_120_pd          70276
num_tl_op_past_12m             70276
num_bc_tl                      70276
num_il_tl                      70276
num_tl_90g_dpd_24m             70276
num_rev_tl_bal_gt_0            70276
total_il_high_credit_limit     70276
num_tl_30dpd                   70276
num_actv_bc_tl                 70276
num_actv_rev_tl                70276
tot_coll_amt                   70276
tot_cur_bal                    70276
total_rev_hi_lim               70276
bc_util                        65539
percent_bc_gt_75               65157
bc_open_to_buy                 64731
mths_since_recent_bc           63809
num_sats                       58590
                               ...
total_rec_int                      0
last_pymnt_amnt                    0
collection_recovery_fee            0
recoveries                         0
total_pymnt                        0
addr_state                         0
total_rec_prncp                    0
total_pymnt_inv                    0
purpose                            0
out_prncp                          0
initial_list_status                0
revol_bal                          0
total_rec_late_fee                 0
int_rate                           0
out_prncp_inv                      0
funded_amnt_inv                    0
pymnt_plan                         0
term                               0
installment                        0
grade                              0
sub_grade                          0
debt_settlement_flag               0
emp_length                         0
home_ownership                     0
funded_amnt                        0
verification_status                0
loan_amnt                          0
issue_d                            0
loan_status                        0
hardship_flag                      0
dtype: int64

### Getting rid of a row with maximum missing data

In [12]:
loan_df = loan_df[loan_df.int_rate.notnull()]

In [13]:
loan_df.shape

(1524077, 87)

In [14]:
loan_df.head()

,hardship_flag,revol_bal,initial_list_status,out_prncp,total_pymnt,total_pymnt_inv,total_rec_prncp,addr_state,total_rec_int,recoveries,...,total_rev_hi_lim,num_rev_accts,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,avg_cur_bal,pct_tl_nvr_dlq,emp_title,mo_sin_old_il_acct,num_tl_120dpd_2m,mths_since_recent_inq
0,N,13648.0,f,0.0,5863.155187,5833.84,5000.00,AZ,863.16,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N,1687.0,f,0.0,1014.530000,1014.53,456.46,GA,435.17,122.9,...,NaN,NaN,NaN,NaN,NaN,NaN,Ryder,NaN,NaN,NaN
2,N,2956.0,f,0.0,3005.666844,3005.67,2400.00,IL,605.67,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N,5598.0,f,0.0,12231.890000,12231.89,10000.00,CA,2214.92,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,AIR RESOURCES BOARD,NaN,NaN,NaN
4,N,27783.0,f,0.0,4066.908161,4066.91,3000.00,OR,1066.91,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,University Medical Group,NaN,NaN,NaN

In [21]:
loan_df.grade.unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [23]:
loan_df[['grade','loan_amnt']].groupby('grade').mean()

          loan_amnt
grade
A      14078.427269
B      13520.480494
C      14664.571436
D      15672.516452
E      17918.678172
F      19132.253857
G      20226.904532

In [25]:
loan_df.mths_since_recent_inq.unique()

array([ nan,   8.,   3.,   4.,  17.,   0.,   6.,   2.,  14.,  12.,   7.,
        10.,  20.,  11.,  13.,   5.,   1.,   9.,  16.,  21.,  19.,  18.,
        15.,  22.,  23.,  24.,  25.])

In [32]:
len(loan_df.delinq_amnt.unique())

2345

In [36]:
loan_df.loan_status.unique()

array(['Fully Paid', 'Charged Off',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Current',
       'Late (16-30 days)', 'Late (31-120 days)', 'In Grace Period',
       'Default'], dtype=object)

In [37]:
loan_df.groupby('loan_status').size()

loan_status
Charged Off                                            154359
Current                                                721348
Default                                                   225
Does not meet the credit policy. Status:Charged Off       761
Does not meet the credit policy. Status:Fully Paid       1988
Fully Paid                                             600680
In Grace Period                                         13970
Late (16-30 days)                                        6320
Late (31-120 days)                                      24426
dtype: int64

In [42]:
loan_df.groupby('loan_status')['loan_amnt'].describe().to_frame()

                                                              loan_amnt
loan_status
Charged Off                                        count  154359.000000
                                                   mean    15370.944357
                                                   std      8590.909200
                                                   min       900.000000
                                                   25%      9000.000000
                                                   50%     14000.000000
                                                   75%     20000.000000
                                                   max     40000.000000
Current                                            count  721348.000000
                                                   mean    15146.864828
                                                   std      8956.482528
                                                   min      1000.000000
                                                   25%      8000.000000
                                                   50%     13500.000000
                                                   75%     20000.000000
                                                   max     40000.000000
Default                                            count     225.000000
                                                   mean    15277.444444
                                                   std      8782.097990
                                                   min      1200.000000
                                                   25%      9000.000000
                                                   50%     13200.000000
                                                   75%     21000.000000
                                                   max     35000.000000
Does not meet the credit policy. Status:Charged... count     761.000000
                                                   mean     9527.233903
                                                   std      6404.598723
                                                   min       500.000000
                                                   25%      5000.000000
                                                   50%      7750.000000
...                                                                 ...
Fully Paid                                         std      8424.441054
                                                   min       500.000000
                                                   25%      7500.000000
                                                   50%     12000.000000
                                                   75%     20000.000000
                                                   max     40000.000000
In Grace Period                                    count   13970.000000
                                                   mean    16392.235147
                                                   std      9027.043650
                                                   min      1000.000000
                                                   25%      9800.000000
                                                   50%     15000.000000
                                                   75%     22400.000000
                                                   max     40000.000000
Late (16-30 days)                                  count    6320.000000
                                                   mean    16395.984968
                                                   std      9135.730039
                                                   min      1000.000000
                                                   25%      9718.750000
                                                   50%     15000.000000
                                                   75%     22500.000000
                                                   max     40000.000000
Late (31-120 days)                                 count   24426.000000
                                                   mean    15924.964178
                                                   std      8917.675396
                                                   min      1000.000000
                                                   25%      9406.250000
                                                   50%     15000.000000
                                                   75%     21000.000000
                                                   max     40000.000000

[72 rows x 1 columns]

In [46]:
loan_df.purpose.unique()

array(['credit_card', 'car', 'small_business', 'other', 'wedding',
       'debt_consolidation', 'home_improvement', 'major_purchase',
       'medical', 'moving', 'vacation', 'house', 'renewable_energy',
       'educational'], dtype=object)

In [53]:
loan_df.groupby('purpose')['loan_amnt'].describe().to_frame()

                              loan_amnt
purpose
car                count   16129.000000
                   mean     9034.715419
                   std      6397.241343
                   min      1000.000000
                   25%      4800.000000
                   50%      7000.000000
                   75%     12000.000000
                   max     40000.000000
credit_card        count  340073.000000
                   mean    15238.014926
                   std      8499.844963
                   min       500.000000
                   25%      8875.000000
                   50%     13700.000000
                   75%     20000.000000
                   max     40000.000000
debt_consolidation count  886520.000000
                   mean    15557.472561
                   std      8597.739601
                   min       700.000000
                   25%      9000.000000
                   50%     14125.000000
                   75%     20000.000000
                   max     40000.000000
educational        count     423.000000
                   mean     6616.075650
                   std      5093.890248
                   min       500.000000
                   25%      3000.000000
                   50%      5000.000000
...                                 ...
renewable_energy   std      8289.721546
                   min      1000.000000
                   25%      4000.000000
                   50%      8000.000000
                   75%     14575.000000
                   max     40000.000000
small_business     count   17347.000000
                   mean    15579.407102
                   std      9566.194385
                   min       500.000000
                   25%      8000.000000
                   50%     14000.000000
                   75%     21600.000000
                   max     40000.000000
vacation           count    9948.000000
                   mean     6212.821673
                   std      5346.481400
                   min       500.000000
                   25%      2800.000000
                   50%      5000.000000
                   75%      8000.000000
                   max     40000.000000
wedding            count    2350.000000
                   mean    10479.095745
                   std      6754.309992
                   min      1000.000000
                   25%      5500.000000
                   50%      9000.000000
                   75%     14000.000000
                   max     35000.000000

[112 rows x 1 columns]

In [55]:
len(loan_df.columns)

87

In [64]:
loan_df.columns.tolist()

['hardship_flag',
 'revol_bal',
 'initial_list_status',
 'out_prncp',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'addr_state',
 'total_rec_int',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'policy_code',
 'application_type',
 'disbursement_method',
 'total_rec_late_fee',
 'purpose',
 'out_prncp_inv',
 'funded_amnt_inv',
 'pymnt_plan',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'debt_settlement_flag',
 'emp_length',
 'home_ownership',
 'funded_amnt',
 'verification_status',
 'loan_amnt',
 'issue_d',
 'loan_status',
 'zip_code',
 'annual_inc',
 'delinq_amnt',
 'acc_now_delinq',
 'total_acc',
 'open_acc',
 'pub_rec',
 'earliest_cr_line',
 'delinq_2yrs',
 'inq_last_6mths',
 'last_credit_pull_d',
 'tax_liens',
 'chargeoff_within_12_mths',
 'collections_12_mths_ex_med',
 'dti',
 'revol_util',
 'pub_rec_bankruptcies',
 'last_pymnt_d',
 'title',
 'mort_acc',
 'total_bc_limit',
 'acc_open_past_24mths',
 'total_bal_ex_mort',
 'num_sats',
 'num_bc_sats',
 'mths_since_recent_bc',
 'bc_open_to_buy',
 'percent_bc_gt_75',
 'bc_util',
 'tot_hi_cred_lim',
 'mo_sin_rcnt_tl',
 'num_accts_ever_120_pd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_tl_bal_gt_0',
 'total_il_high_credit_limit',
 'num_tl_30dpd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'tot_coll_amt',
 'tot_cur_bal',
 'total_rev_hi_lim',
 'num_rev_accts',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'avg_cur_bal',
 'pct_tl_nvr_dlq',
 'emp_title',
 'mo_sin_old_il_acct',
 'num_tl_120dpd_2m',
 'mths_since_recent_inq']

In [77]:
loan_df.shape

(1524077, 87)

In [67]:
loan_df.hardship_flag.unique()

array(['N', 'Y'], dtype=object)

In [76]:
len(loan_df[loan_df.hardship_flag=='N'])

1520626

In [78]:
len(loan_df[loan_df.hardship_flag=='Y'])

3451