In [21]:
from sklearn import cluster
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
import csv
import pandas as pd
import numpy as np
import pickle
from sklearn.externals import joblib

In [9]:
loan_df = pd.read_csv('CleanLoan.csv')

In [10]:
k_mean = loan_df[['dti', 'annual_inc', 'risk_score', 'loan_amnt',
       'term', 'purpose','approval','emp_length', 'home_ownership']]

In [11]:
home_ownerships = pd.get_dummies(k_mean['home_ownership'], prefix='house')
k_mean = k_mean.join(home_ownerships)
k_mean.drop('home_ownership', axis=1, inplace=True)
#purpose   
purpose = pd.get_dummies(k_mean['purpose'], prefix='purpose')
k_mean = k_mean.join(purpose)
k_mean.drop('purpose', axis=1, inplace=True)

In [12]:
k_mean.shape

(1641127, 27)

In [13]:
k_mean.dtypes

dti                           float64
annual_inc                    float64
risk_score                    float64
loan_amnt                     float64
term                            int64
approval                        int64
emp_length                      int64
house_ANY                       uint8
house_MORTGAGE                  uint8
house_NONE                      uint8
house_OTHER                     uint8
house_OWN                       uint8
house_RENT                      uint8
purpose_car                     uint8
purpose_credit_card             uint8
purpose_debt_consolidation      uint8
purpose_educational             uint8
purpose_home_improvement        uint8
purpose_house                   uint8
purpose_major_purchase          uint8
purpose_medical                 uint8
purpose_moving                  uint8
purpose_other                   uint8
purpose_renewable_energy        uint8
purpose_small_business          uint8
purpose_vacation                uint8
purpose_wedding                 uint8
dtype: object

In [14]:
norm_data = preprocessing.normalize(k_mean)

In [15]:
norm_data

array([[  1.12735567e-03,   9.78536570e-01,   3.00492272e-02, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  3.32080402e-05,   9.96241206e-01,   2.46403658e-02, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  6.97229400e-04,   9.79639290e-01,   5.89286775e-02, ...,
          7.99575000e-05,   0.00000000e+00,   0.00000000e+00],
       ...,
       [  3.07366011e-04,   9.06149797e-01,   8.54197209e-03, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.35808005e-04,   9.59612419e-01,   6.14151948e-03, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  5.16259123e-04,   9.21891291e-01,   1.39717747e-02, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00]])

In [16]:
k_cluster=cluster.KMeans(n_clusters=8)

In [17]:
k_cluster.fit(norm_data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=8, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [18]:
k_cluster.inertia_

923.12972527185673

In [24]:
cluster_label = k_cluster.labels_

In [22]:
with open('kmeanCluster.pkl', 'wb') as f:
    joblib.dump(k_cluster, f)

In [26]:
loan_df['kmean'] = cluster_label

In [27]:
pd.crosstab(loan_df.grade,loan_df.kmean)

kmean       0      1      2      3    4      5       6     7
grade
A       63694  22184  57451   8865   73  40237   78984   355
B      110856  54998  87010  26196  243  82409  121034  1185
C      102178  77195  72372  45999  441  92491   96288  2380
D       42626  48461  29209  33814  169  45186   36092  1017
E       17209  28873   9068  20865   71  22110   12650   483
F        5166  11290   2355   7375   21   7373    3452   166
G        1465   3738    450   2111   24   2222     793   105