# Manual Clustering

In [18]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
color = sns.color_palette()

In [116]:
loan_df = pd.read_csv('/Users/sonalichaudhari/Desktop/Loan.csv', low_memory=False) 
del loan_df['Unnamed: 0']

In [117]:
df = loan_df

In [118]:
df.shape

(1640755, 23)

In [120]:
df = df[df['dti']!=-1]
df['term'] = df['term'].astype(str).map(lambda x: x.rstrip('months'))
df['term'] = df['term'].astype(int)
df['policy_code'] = df['policy_code'].astype(int)

/Users/sonalichaudhari/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/sonalichaudhari/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/sonalichaudhari/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [121]:
df = df[['id','term','emp_length','dti','annual_inc','grade','sub_grade','int_rate','loan_amnt','purpose','State','zip_code','Year','Month','fico','approval']]

In [123]:
df.head()

,id,term,emp_length,dti,annual_inc,grade,sub_grade,int_rate,loan_amnt,purpose,State,zip_code,Year,Month,fico,approval
0,1,36,10,27.65,24000.0,B,B2,10.65,5000.0,credit_card,AZ,860,2011,12,737.0,1
1,2,60,1,1.00,30000.0,C,C4,15.27,2500.0,car,GA,309,2011,12,742.0,1
2,3,36,10,8.72,12252.0,C,C5,15.96,2400.0,small_business,IL,606,2011,12,737.0,1
3,4,36,10,20.00,49200.0,C,C1,13.49,10000.0,other,CA,917,2011,12,692.0,1
4,5,60,1,17.94,80000.0,B,B5,12.69,3000.0,other,OR,972,2011,12,697.0,1

In [158]:
def clustering(fico):
    cluster_name = ''
    if fico>790.0:
        cluster_name ='K1'
    elif ((fico <= 790.0) & (fico>750.0)):
        cluster_name = 'K2'
    elif ((fico <=750.0) & (fico>700.0)):
        cluster_name ='K3'
    elif ((fico <=700.0) & (fico>660.0)):
        cluster_name= 'K4'
    return cluster_name

In [159]:
df['cluster'] = df['fico'].astype(float).map(lambda x: clustering(x))