# Data Cleaning

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
cur_path = '/Users/sonalichaudhari/Desktop/ADS_Project/Data'

In [4]:
d1 = pd.read_csv(cur_path+'/On_Time_On_Time_Performance_2017_1/On_Time_On_Time_Performance_2017_1.csv', low_memory=False)
d2 = pd.read_csv(cur_path+'/On_Time_On_Time_Performance_2017_2/On_Time_On_Time_Performance_2017_2.csv', low_memory=False)
d3 = pd.read_csv(cur_path+'/On_Time_On_Time_Performance_2017_3/On_Time_On_Time_Performance_2017_3.csv', low_memory=False)
d4 = pd.read_csv(cur_path+'/On_Time_On_Time_Performance_2017_4/On_Time_On_Time_Performance_2017_4.csv', low_memory=False)
d5 = pd.read_csv(cur_path+'/On_Time_On_Time_Performance_2017_5/On_Time_On_Time_Performance_2017_5.csv', low_memory=False)
d6 = pd.read_csv(cur_path+'/On_Time_On_Time_Performance_2017_6/On_Time_On_Time_Performance_2017_6.csv', low_memory=False)
d7 = pd.read_csv(cur_path+'/On_Time_On_Time_Performance_2017_7/On_Time_On_Time_Performance_2017_7.csv', low_memory=False)
d8 = pd.read_csv(cur_path+'/On_Time_On_Time_Performance_2017_8/On_Time_On_Time_Performance_2017_8.csv', low_memory=False)
d9 = pd.read_csv(cur_path+'/On_Time_On_Time_Performance_2017_9/On_Time_On_Time_Performance_2017_9.csv', low_memory=False)

In [5]:
df = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9])

In [6]:
df.head()
del df['Unnamed: 109']

In [7]:
df.shape

(4276457, 109)

In [8]:
missing_data = df.isnull().sum().to_frame(name='Missing_Count').reset_index()
missing_data['Missing_percent'] = (missing_data['Missing_Count']/df.shape[0])*100
missing_data.head()

        index  Missing_Count  Missing_percent
0        Year              0              0.0
1     Quarter              0              0.0
2       Month              0              0.0
3  DayofMonth              0              0.0
4   DayOfWeek              0              0.0

In [9]:
missing_data = missing_data.sort_values(by='Missing_percent', axis=0, ascending=True)
features = missing_data['index'][(missing_data.Missing_percent<99.38)]
len(features)

62

In [10]:
d = df[features]

In [ ]:
'TailNum'

In [43]:
d[['UniqueCarrier','AirlineID','Carrier','TailNum','FlightNum']]
d[['OriginAirportID','OriginAirportSeqID','OriginCityMarketID','Origin','OriginCityName','OriginState','OriginStateName']]
d[['CRSDepTime','DepTime','DepDelayMinutes','DepDel15','CRSArrTime','ArrTime','ArrDelayMinutes','ArrDel15','CRSElapsedTime','ActualElapsedTime']]

,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15,CRSElapsedTime,ActualElapsedTime
0,1619,1616.0,0.0,0.0,1856,1842.0,0.0,0.0,277.0,266.0
1,1619,1614.0,0.0,0.0,1856,1821.0,0.0,0.0,277.0,247.0
2,1619,1611.0,0.0,0.0,1856,1826.0,0.0,0.0,277.0,255.0
3,1619,1656.0,37.0,1.0,1856,1929.0,33.0,1.0,277.0,273.0
4,1619,1632.0,13.0,0.0,1856,1858.0,2.0,0.0,277.0,266.0
5,1619,1636.0,17.0,1.0,1856,1921.0,25.0,1.0,277.0,285.0
6,1619,1616.0,0.0,0.0,1856,1907.0,11.0,0.0,277.0,291.0
7,1619,1619.0,0.0,0.0,1856,1904.0,8.0,0.0,277.0,285.0
8,1619,1616.0,0.0,0.0,1856,1906.0,10.0,0.0,277.0,290.0
9,1619,1618.0,0.0,0.0,1856,1902.0,6.0,0.0,277.0,284.0
10,1619,1613.0,0.0,0.0,1856,1842.0,0.0,0.0,277.0,269.0
11,1619,1614.0,0.0,0.0,1856,1823.0,0.0,0.0,277.0,249.0
12,1619,1611.0,0.0,0.0,1856,1828.0,0.0,0.0,277.0,257.0
13,1619,1614.0,0.0,0.0,1856,1836.0,0.0,0.0,277.0,262.0
14,1619,1615.0,0.0,0.0,1856,1836.0,0.0,0.0,277.0,261.0
15,1305,1305.0,0.0,0.0,1508,1514.0,6.0,0.0,123.0,129.0
16,1305,1256.0,0.0,0.0,1508,1505.0,0.0,0.0,123.0,129.0
17,1305,1312.0,7.0,0.0,1508,1511.0,3.0,0.0,123.0,119.0
18,1305,1314.0,9.0,0.0,1508,1502.0,0.0,0.0,123.0,108.0
19,1305,1304.0,0.0,0.0,1508,1513.0,5.0,0.0,123.0,129.0
20,1305,1259.0,0.0,0.0,1508,1458.0,0.0,0.0,123.0,119.0
21,1305,1303.0,0.0,0.0,1508,1508.0,0.0,0.0,123.0,125.0
22,1305,1314.0,9.0,0.0,1508,1508.0,0.0,0.0,123.0,114.0
23,1305,1350.0,45.0,1.0,1508,1544.0,36.0,1.0,123.0,114.0
24,1305,1301.0,0.0,0.0,1508,1457.0,0.0,0.0,123.0,116.0
25,1305,1255.0,0.0,0.0,1508,1451.0,0.0,0.0,123.0,116.0
26,1305,1301.0,0.0,0.0,1508,1456.0,0.0,0.0,123.0,115.0
27,1305,1309.0,4.0,0.0,1508,1503.0,0.0,0.0,123.0,114.0
28,1305,1303.0,0.0,0.0,1508,1503.0,0.0,0.0,123.0,120.0
29,1959,1953.0,0.0,0.0,2009,2005.0,0.0,0.0,70.0,72.0
...,...,...,...,...,...,...,...,...,...,...
458697,2059,2056.0,0.0,0.0,2346,2350.0,4.0,0.0,167.0,174.0
458698,2100,NaN,NaN,NaN,2333,NaN,NaN,NaN,153.0,NaN
458699,600,NaN,NaN,NaN,840,NaN,NaN,NaN,160.0,NaN
458700,620,617.0,0.0,0.0,930,914.0,0.0,0.0,190.0,177.0
458701,2026,2017.0,0.0,0.0,2328,2315.0,0.0,0.0,182.0,178.0
458702,800,747.0,0.0,0.0,1001,942.0,0.0,0.0,121.0,115.0
458703,1805,1811.0,6.0,0.0,2000,1958.0,0.0,0.0,115.0,107.0
458704,930,921.0,0.0,0.0,1242,1220.0,0.0,0.0,192.0,179.0
458705,1605,1600.0,0.0,0.0,1854,1841.0,0.0,0.0,169.0,161.0
458706,2015,2010.0,0.0,0.0,2256,2245.0,0.0,0.0,161.0,155.0
458707,1421,1438.0,17.0,1.0,1617,1626.0,9.0,0.0,116.0,108.0
458708,2202,2157.0,0.0,0.0,2355,2331.0,0.0,0.0,113.0,94.0
458709,700,649.0,0.0,0.0,833,812.0,0.0,0.0,93.0,83.0
458710,1832,1842.0,10.0,0.0,2011,2004.0,0.0,0.0,99.0,82.0
458711,605,605.0,0.0,0.0,837,821.0,0.0,0.0,152.0,136.0
458712,1416,1407.0,0.0,0.0,1717,1653.0,0.0,0.0,181.0,166.0
458713,1945,1952.0,7.0,0.0,2219,2215.0,0.0,0.0,274.0,263.0
458714,2310,2307.0,0.0,0.0,505,444.0,0.0,0.0,235.0,217.0
458715,700,657.0,0.0,0.0,945,911.0,0.0,0.0,165.0,134.0
458716,2102,2130.0,28.0,1.0,2352,11.0,19.0,1.0,170.0,161.0
458717,2118,2103.0,0.0,0.0,2246,2213.0,0.0,0.0,88.0,70.0
458718,1856,1853.0,0.0,0.0,2200,2141.0,0.0,0.0,184.0,168.0
458719,1500,1505.0,5.0,0.0,1740,1750.0,10.0,0.0,160.0,165.0
458720,1225,1237.0,12.0,0.0,1510,1447.0,0.0,0.0,165.0,130.0
458721,1720,1734.0,14.0,0.0,1913,1924.0,11.0,0.0,173.0,170.0
458722,1018,1332.0,194.0,1.0,1335,1647.0,192.0,1.0,137.0,135.0
458723,1828,1822.0,0.0,0.0,2135,2135.0,0.0,0.0,367.0,373.0
458724,630,623.0,0.0,0.0,743,732.0,0.0,0.0,73.0,69.0
458725,700,654.0,0.0,0.0,812,802.0,0.0,0.0,72.0,68.0
458726,1001,952.0,0.0,0.0,1301,1247.0,0.0,0.0,180.0,175.0

In [60]:
dt = d[['Year','Quarter','Month','DayofMonth','DayOfWeek','FlightDate','UniqueCarrier','AirlineID','Carrier','TailNum','FlightNum','OriginAirportID','Origin','Dest','CRSDepTime','DepTime','DepDelayMinutes','DepDel15','CRSArrTime','ArrTime','ArrDelayMinutes','ArrDel15','CRSElapsedTime','ActualElapsedTime','DestAirportID','OriginCityName','OriginState','OriginStateName','DestCityName','DestState','DestStateName','Cancelled']]

In [61]:
dt.shape

(4276457, 32)

In [63]:
dt.isnull().sum()

Year                     0
Quarter                  0
Month                    0
DayofMonth               0
DayOfWeek                0
FlightDate               0
UniqueCarrier            0
AirlineID                0
Carrier                  0
TailNum              11811
FlightNum                0
OriginAirportID          0
Origin                   0
Dest                     0
CRSDepTime               0
DepTime              70648
DepDelayMinutes      70672
DepDel15             70672
CRSArrTime               0
ArrTime              74220
ArrDelayMinutes      82860
ArrDel15             82860
CRSElapsedTime           7
ActualElapsedTime    82860
DestAirportID            0
OriginCityName           0
OriginState              0
OriginStateName          0
DestCityName             0
DestState                0
DestStateName            0
Cancelled                0
dtype: int64

In [75]:
dt = dt[dt['Cancelled']!=1]

In [76]:
dt.shape

(4203809, 32)

In [85]:
dt.isnull().sum()

Year                 0
Quarter              0
Month                0
DayofMonth           0
DayOfWeek            0
FlightDate           0
UniqueCarrier        0
AirlineID            0
Carrier              0
TailNum              0
FlightNum            0
OriginAirportID      0
Origin               0
Dest                 0
CRSDepTime           0
DepTime              0
DepDelayMinutes      0
DepDel15             0
CRSArrTime           0
ArrTime              0
ArrDelayMinutes      0
ArrDel15             0
CRSElapsedTime       0
ActualElapsedTime    0
DestAirportID        0
OriginCityName       0
OriginState          0
OriginStateName      0
DestCityName         0
DestState            0
DestStateName        0
Cancelled            0
dtype: int64

In [83]:
dt = dt[dt['ArrDelayMinutes'].notnull() & p['ActualElapsedTime'].notnull() & p['ArrDelayMinutes'].notnull() & p['ArrDel15'].notnull()]

In [84]:
dt.shape

(4193597, 32)

In [79]:
p = dt[['CRSDepTime','DepTime','DepDelayMinutes','DepDel15','CRSArrTime','ArrTime','ArrDelayMinutes','ArrDel15','CRSElapsedTime','ActualElapsedTime','Cancelled']]

In [82]:
#p[p['ArrDelayMinutes'].isnull() & p['ActualElapsedTime'].isnull() & p['ArrDelayMinutes'].isnull() & p['ArrDel15'].isnull()]

In [97]:
7845984/d.shape[0]

1.834692597166299

In [98]:
72648/d.shape[0]

0.016987894418206473

In [116]:
#d['ArrDel15'].astype(int)

In [140]:
d[['ArrTime','CRSArrTime','ArrDelayMinutes','ArrDel15','Cancelled']][d.ArrDel15.isnull()]

        ArrTime  CRSArrTime  ArrDelayMinutes  ArrDel15  Cancelled
52          NaN        1042              NaN       NaN        1.0
62          NaN        1341              NaN       NaN        1.0
63          NaN        1341              NaN       NaN        1.0
117         NaN        2359              NaN       NaN        1.0
267      1126.0        1008              NaN       NaN        0.0
332         NaN        1825              NaN       NaN        1.0
348         NaN        1718              NaN       NaN        1.0
503         NaN         805              NaN       NaN        1.0
683         NaN        2308              NaN       NaN        1.0
684         NaN         840              NaN       NaN        1.0
743         NaN         805              NaN       NaN        1.0
834         NaN         754              NaN       NaN        0.0
997         NaN        1209              NaN       NaN        1.0
1227        NaN        1106              NaN       NaN        1.0
1373        NaN        1647              NaN       NaN        1.0
1491        NaN        1209              NaN       NaN        1.0
1681     2129.0        2013              NaN       NaN        0.0
1700     2108.0        2013              NaN       NaN        0.0
1787        NaN        1209              NaN       NaN        1.0
1846        NaN         855              NaN       NaN        1.0
1874        NaN        2158              NaN       NaN        1.0
1925        NaN        1340              NaN       NaN        1.0
1960        NaN        1350              NaN       NaN        1.0
2077        NaN        1457              NaN       NaN        1.0
2433        NaN         613              NaN       NaN        1.0
2556        NaN        1011              NaN       NaN        1.0
2657        NaN        2335              NaN       NaN        1.0
2789        NaN        1824              NaN       NaN        1.0
3162        NaN         810              NaN       NaN        1.0
3189        NaN        1145              NaN       NaN        1.0
...         ...         ...              ...       ...        ...
458082      NaN         920              NaN       NaN        1.0
458131      NaN        2300              NaN       NaN        1.0
458155      NaN        1907              NaN       NaN        1.0
458199      NaN        2011              NaN       NaN        1.0
458278      NaN         351              NaN       NaN        1.0
458341      NaN        2343              NaN       NaN        1.0
458386      NaN        1053              NaN       NaN        1.0
458416      NaN        1518              NaN       NaN        1.0
458417      NaN        1635              NaN       NaN        1.0
458444      NaN        1452              NaN       NaN        1.0
458473      NaN        1540              NaN       NaN        1.0
458526      NaN        2017              NaN       NaN        1.0
458529      NaN        1426              NaN       NaN        1.0
458531      NaN        1945              NaN       NaN        1.0
458562      NaN         216              NaN       NaN        1.0
458563      NaN         613              NaN       NaN        1.0
458573      NaN        2355              NaN       NaN        1.0
458580      NaN          53              NaN       NaN        1.0
458581      NaN         502              NaN       NaN        1.0
458599      NaN         725              NaN       NaN        1.0
458615      NaN        1656              NaN       NaN        1.0
458619      NaN         348              NaN       NaN        1.0
458641      NaN        1814              NaN       NaN        1.0
458657      NaN         850              NaN       NaN        1.0
458658      NaN         348              NaN       NaN        1.0
458666      NaN        1322              NaN       NaN        1.0
458667      NaN         903              NaN       NaN        1.0
458692      NaN        2355              NaN       NaN        1.0
458698      NaN        2333              NaN       NaN        1.0
458699      NaN         840              NaN       NaN        1.0

[82860 rows x 5 columns]

In [ ]:
d['ArrDel15']

In [119]:
s.shape[1] - s.count(axis=1)

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
458697    0
458698    4
458699    4
458700    0
458701    0
458702    0
458703    0
458704    0
458705    0
458706    0
458707    0
458708    0
458709    0
458710    0
458711    0
458712    0
458713    0
458714    0
458715    0
458716    0
458717    0
458718    0
458719    0
458720    0
458721    0
458722    0
458723    0
458724    0
458725    0
458726    0
dtype: int64

In [121]:
d['miss']= d.shape[1] - d.count(axis=1)

In [123]:
d.shape

(4276457, 64)

In [124]:
d.head()

,Year,DestStateFips,DestCityName,DestState,DestStateName,DestCityMarketID,DepTimeBlk,Dest,DestWac,ArrTimeBlk,...,ArrDelay,ArrivalDelayGroups,NASDelay,CarrierDelay,WeatherDelay,SecurityDelay,LateAircraftDelay,CancellationCode,STATUS,miss
0,2017,4,"Phoenix, AZ",AZ,Arizona,30466,1600-1659,PHX,81,1800-1859,...,-14.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,0,6
1,2017,4,"Phoenix, AZ",AZ,Arizona,30466,1600-1659,PHX,81,1800-1859,...,-35.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,0,6
2,2017,4,"Phoenix, AZ",AZ,Arizona,30466,1600-1659,PHX,81,1800-1859,...,-30.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,0,6
3,2017,4,"Phoenix, AZ",AZ,Arizona,30466,1600-1659,PHX,81,1800-1859,...,33.0,2.0,0.0,33.0,0.0,0.0,0.0,NaN,1,1
4,2017,4,"Phoenix, AZ",AZ,Arizona,30466,1600-1659,PHX,81,1800-1859,...,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1,6

In [134]:
d[d['miss']>=25]

Empty DataFrame
Columns: [Year, DestStateFips, DestCityName, DestState, DestStateName, DestCityMarketID, DepTimeBlk, Dest, DestWac, ArrTimeBlk, CRSArrTime, Cancelled, Diverted, Flights, DistanceGroup, DestAirportSeqID, OriginWac, CRSDepTime, DestAirportID, Distance, Quarter, AirlineID, Month, Carrier, OriginStateName, OriginAirportID, DayOfWeek, OriginCityMarketID, DayofMonth, OriginAirportSeqID, OriginCityName, Origin, OriginState, FlightNum, UniqueCarrier, OriginStateFips, FlightDate, DivAirportLandings, CRSElapsedTime, TailNum, DepTime, DepDelay, DepDelayMinutes, DepDel15, DepartureDelayGroups, WheelsOff, TaxiOut, WheelsOn, TaxiIn, ArrTime, ArrDel15, ArrDelayMinutes, ActualElapsedTime, AirTime, ArrDelay, ArrivalDelayGroups, NASDelay, CarrierDelay, WeatherDelay, SecurityDelay, LateAircraftDelay, CancellationCode, STATUS, miss]
Index: []

[0 rows x 64 columns]

In [131]:
d['miss'].describe()

count    4.276457e+06
mean     5.307259e+00
std      2.878389e+00
min      1.000000e+00
25%      6.000000e+00
50%      6.000000e+00
75%      6.000000e+00
max      2.200000e+01
Name: miss, dtype: float64

In [141]:
d.ArrDel15.unique()

array([  0.,   1.,  nan])

In [143]:
s = d[['ArrDel15','Cancelled']][d.ArrDel15.isnull()]

In [144]:
s.Cancelled.isnull().sum()

0

In [146]:
d['OriginAirportID'].isnull().sum()

0

In [147]:
d.isnull().sum()

Year                          0
DestStateFips                 0
DestCityName                  0
DestState                     0
DestStateName                 0
DestCityMarketID              0
DepTimeBlk                    0
Dest                          0
DestWac                       0
ArrTimeBlk                    0
CRSArrTime                    0
Cancelled                     0
Diverted                      0
Flights                       0
DistanceGroup                 0
DestAirportSeqID              0
OriginWac                     0
CRSDepTime                    0
DestAirportID                 0
Distance                      0
Quarter                       0
AirlineID                     0
Month                         0
Carrier                       0
OriginStateName               0
OriginAirportID               0
DayOfWeek                     0
OriginCityMarketID            0
DayofMonth                    0
OriginAirportSeqID            0
                         ...
UniqueCarrier                 0
OriginStateFips               0
FlightDate                    0
DivAirportLandings            2
CRSElapsedTime                7
TailNum                   11811
DepTime                   70648
DepDelay                  70672
DepDelayMinutes           70672
DepDel15                  70672
DepartureDelayGroups      70672
WheelsOff                 72211
TaxiOut                   72214
WheelsOn                  74220
TaxiIn                    74220
ArrTime                   74220
ArrDel15                  82860
ArrDelayMinutes           82860
ActualElapsedTime         82860
AirTime                   82860
ArrDelay                  82860
ArrivalDelayGroups        82860
NASDelay                3452611
CarrierDelay            3452611
WeatherDelay            3452611
SecurityDelay           3452611
LateAircraftDelay       3452611
CancellationCode        4203809
STATUS                        0
miss                          0
dtype: int64