# Data Cleaning

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
import pandas as pd
import numpy as np
import csv

In [17]:
cur_path = '/Users/sonalichaudhari/Desktop/ADS_Project/Data'

In [ ]:
d1 = pd.read_csv(cur_path+'/2017_1.csv', low_memory=False)
del d1['Unnamed: 109']
d2 = pd.read_csv(cur_path+'/2017_2.csv', low_memory=False)
del d2['Unnamed: 109']
d3 = pd.read_csv(cur_path+'/2017_3.csv', low_memory=False)
del d3['Unnamed: 109']
d4 = pd.read_csv(cur_path+'/2017_4.csv', low_memory=False)
#del d4['Unnamed: 109']
d5 = pd.read_csv(cur_path+'/2017_5.csv', low_memory=False)
del d5['Unnamed: 109']
d6 = pd.read_csv(cur_path+'/2017_6.csv', low_memory=False)
del d6['Unnamed: 109']
d7 = pd.read_csv(cur_path+'/2017_7.csv', low_memory=False)
del d7['Unnamed: 109']
d8 = pd.read_csv(cur_path+'/2017_8.csv', low_memory=False)
del d8['Unnamed: 109']
d9 = pd.read_csv(cur_path+'/2017_9.csv', low_memory=False)
del d9['Unnamed: 109']

In [ ]:
df = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9])

In [20]:
d1.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2017,1,1,17,2,2017-01-17,AA,19805,AA,N583AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,1,18,3,2017-01-18,AA,19805,AA,N544AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,1,19,4,2017-01-19,AA,19805,AA,N553AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,1,20,5,2017-01-20,AA,19805,AA,N191AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,1,21,6,2017-01-21,AA,19805,AA,N170AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
d4