# -------------------------------File--CLASSIFICATION----------------------------------

## Imports

In [7]:
import pandas as pd
import numpy as np
import csv
from ipykernel import kernelapp as app
from sklearn.cross_validation import train_test_split
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV

In [8]:
loan_df = pd.read_csv('/Users/sonalichaudhari/Desktop/Loan.csv', low_memory=False) 
del loan_df['Unnamed: 0']
decline_df= pd.read_csv(open('/Users/sonalichaudhari/Desktop/Decline.csv','rU'), encoding='utf-8')
del decline_df['Unnamed: 0']

/Users/sonalichaudhari/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: DeprecationWarning: 'U' mode is deprecated
  app.launch_new_instance()

In [9]:
loan_df=loan_df[['id','loan_amnt', 'purpose', 'fico', 'dti','zip_code', 'State', 'emp_length', 'Year', 'Month', 'approval']]
decline_df =decline_df[['id','loan_amnt','purpose', 'fico', 'dti','zip_code', 'State', 'emp_length', 'Year', 'Month','approval']]

In [10]:
loan_df.head()

,id,loan_amnt,purpose,fico,dti,zip_code,State,emp_length,Year,Month,approval
0,1,5000.0,credit_card,737.0,27.65,860,AZ,10,2011,12,1
1,2,2500.0,car,742.0,1.00,309,GA,1,2011,12,1
2,3,2400.0,small_business,737.0,8.72,606,IL,10,2011,12,1
3,4,10000.0,other,692.0,20.00,917,CA,10,2011,12,1
4,5,3000.0,other,697.0,17.94,972,OR,1,2011,12,1

In [11]:
decline_df.head()

,id,loan_amnt,purpose,fico,dti,zip_code,State,emp_length,Year,Month,approval
0,1,1000.0,Wedding Covered but No Honeymoon,693.0,10.00,481,NM,4,2007,5,0
1,2,1000.0,Consolidating Debt,703.0,10.00,10,MA,0,2007,5,0
2,3,11000.0,Want to consolidate my debt,715.0,10.00,212,MD,1,2007,5,0
3,4,6000.0,waksman,698.0,38.64,17,MA,0,2007,5,0
4,5,1500.0,mdrigo,509.0,9.43,209,MD,0,2007,5,0

In [12]:
# Merging the two dataframes
df = pd.concat([loan_df,decline_df])

In [13]:
df.to_csv('/Users/sonalichaudhari/Desktop/Combine_Clean_Data.csv')