In [28]:
from sklearn import cluster
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
import csv
import pandas as pd
import numpy as np
import pickle
from sklearn.externals import joblib

In [29]:
loan_df = pd.read_csv('Loan.csv')

In [31]:
k_mean = loan_df[['dti', 'annual_inc', 'fico', 'loan_amnt',
       'term', 'purpose','approval','emp_length', 'home_ownership']]

In [32]:
home_ownerships = pd.get_dummies(k_mean['home_ownership'], prefix='house')
k_mean = k_mean.join(home_ownerships)
k_mean.drop('home_ownership', axis=1, inplace=True)
#purpose   
purpose = pd.get_dummies(k_mean['purpose'], prefix='purpose')
k_mean = k_mean.join(purpose)
k_mean.drop('purpose', axis=1, inplace=True)

In [33]:
k_mean.shape

(1640757, 27)

In [34]:
k_mean.dtypes

dti                           float64
annual_inc                    float64
fico                          float64
loan_amnt                     float64
term                            int64
approval                        int64
emp_length                      int64
house_ANY                       uint8
house_MORTGAGE                  uint8
house_NONE                      uint8
house_OTHER                     uint8
house_OWN                       uint8
house_RENT                      uint8
purpose_car                     uint8
purpose_credit_card             uint8
purpose_debt_consolidation      uint8
purpose_educational             uint8
purpose_home_improvement        uint8
purpose_house                   uint8
purpose_major_purchase          uint8
purpose_medical                 uint8
purpose_moving                  uint8
purpose_other                   uint8
purpose_renewable_energy        uint8
purpose_small_business          uint8
purpose_vacation                uint8
purpose_wedding                 uint8
dtype: object

In [35]:
norm_data = preprocessing.normalize(k_mean)

In [36]:
norm_data

array([[  1.12735567e-03,   9.78536570e-01,   3.00492272e-02, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  3.32080402e-05,   9.96241206e-01,   2.46403658e-02, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  6.97229400e-04,   9.79639290e-01,   5.89286775e-02, ...,
          7.99575000e-05,   0.00000000e+00,   0.00000000e+00],
       ...,
       [  3.07366011e-04,   9.06149797e-01,   8.54197209e-03, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.35808005e-04,   9.59612419e-01,   6.14151948e-03, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  5.16259123e-04,   9.21891291e-01,   1.39717747e-02, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00]])

In [37]:
k_cluster=cluster.KMeans(n_clusters=8)

In [38]:
k_cluster.fit(norm_data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=8, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [39]:
k_cluster.inertia_

843.86228211237938

In [40]:
cluster_label = k_cluster.labels_

In [41]:
with open('kmeanCluster.pkl', 'wb') as f:
    joblib.dump(k_cluster, f)

In [42]:
loan_df['kmean'] = cluster_label

In [43]:
pd.crosstab(loan_df.grade,loan_df.kmean)

kmean       0      1      2      3     4      5      6      7
grade
A       62287  15675  44518  49853   258  27988   6121  65114
B      102494  40864  68107  92256   846  62852  18927  97492
C       89004  61035  57994  92048  1711  77543  34438  75411
D       35005  41080  23619  41159   718  41240  25248  28446
E       13586  24748   7364  18139   348  22313  15531   9285
F        3884   9113   1914   5742   118   8238   5661   2520
G        1043   2838    361   1689    81   2668   1667    555